Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2021-12, with the labels that each got.

#355 fix(ci): fix dev builds' lint cache
  .github/workflows/dev_builds.yml
Labels: github_actions

#357 docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#364 Revert "chore(deps): bump tj-actions/changed-files from 11 to 12 (#360)"
  .github/workflows/pull_requests.yml
Labels: github_actions

#354 feat(k8sprocessor): add ignored pod names as config parameter
  pkg/processor/k8sprocessor/README.md
  pkg/processor/k8sprocessor/client_test.go
  pkg/processor/k8sprocessor/config.go
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/factory.go
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/options.go
  pkg/processor/k8sprocessor/options_test.go
  pkg/processor/k8sprocessor/processor.go
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/k8sprocessor/testdata/config.yaml
Labels: documentation, go

#362 fix(k8sprocessor): change info to debug log when logging about pod ownership lookup
  pkg/processor/k8sprocessor/kube/client.go
Labels: go

#366 chore(ci): bump go to 1.17.5
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
Labels: github_actions

#367 feat(sumologicexporter): add debug log with request headers
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#373 feat(sumologicexporter): add logs about dropped fields
  pkg/exporter/sumologicexporter/sender.go
Labels: go

#375 chore: bump ot core to 0.41.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation
