Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2021-11, with the labels that each got.

#331 docs: add info about directories access and permissions
  docs/Installation.md
Labels: documentation

#335 Cascading filter update
  pkg/exporter/sumologicexporter/go.mod
  pkg/processor/cascadingfilterprocessor/README.md
  pkg/processor/cascadingfilterprocessor/cascading_test.go
  pkg/processor/cascadingfilterprocessor/config/config.go
  pkg/processor/cascadingfilterprocessor/config_test.go
  pkg/processor/cascadingfilterprocessor/factory.go
  pkg/processor/cascadingfilterprocessor/factory_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/cascadingfilterprocessor/idbatcher/id_batcher_test.go
  pkg/processor/cascadingfilterprocessor/metrics.go
  pkg/processor/cascadingfilterprocessor/processor.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
  pkg/processor/cascadingfilterprocessor/sampling/always_sample_test.go
  pkg/processor/cascadingfilterprocessor/sampling/attrs_filter_test.go
  pkg/processor/cascadingfilterprocessor/sampling/drop_trace_factory.go
  pkg/processor/cascadingfilterprocessor/sampling/numeric_tag_filter_test.go
  pkg/processor/cascadingfilterprocessor/sampling/policy.go
  pkg/processor/cascadingfilterprocessor/sampling/policy_factory.go
  pkg/processor/cascadingfilterprocessor/sampling/policy_filter.go
  pkg/processor/cascadingfilterprocessor/sampling/rate_limiting_test.go
  pkg/processor/cascadingfilterprocessor/sampling/span_properties_filter_test.go
  pkg/processor/cascadingfilterprocessor/sampling/string_tag_filter_test.go
  pkg/processor/cascadingfilterprocessor/testdata/cascading_filter_config.yaml
Labels: documentation, go

#336 ci: check builder version when building collector
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  Makefile
  otelcolbuilder/Makefile
Labels: github_actions

#340 feat(ci): add golangci-lint cache to speed up linting on CI
  .github/workflows/pull_requests.yml
  .golangci.yaml
Labels: github_actions

#338 Bump OTC to v0.38.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#345 ci: add lint on dev build so that golangci-lint cache is shared across branches
  .github/workflows/dev_builds.yml
Labels: github_actions

#347 docs: update information about known issues
  docs/KnownIssues.md
Labels: documentation

#348 Add missing interface method for configauth.ClientAuthenticator
  pkg/extension/sumologicextension/extension.go
Labels: go

#337 Include additional upstream OTC components
  README.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/extension/sumologicextension/go.mod
Labels: documentation

#332 feat(k8sprocessor): add job ownership processing
  pkg/processor/k8sprocessor/README.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/fake_owner.go
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/kube/owner.go
  pkg/processor/k8sprocessor/options.go
Labels: documentation, go

#352 chore: bump ot core to 0.40.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/cascadingfilterprocessor/sampling/numeric_tag_filter_test.go
  pkg/processor/cascadingfilterprocessor/sampling/string_tag_filter_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#353 chore(ci): remove legacy ECR
  .github/workflows/dev_builds.yml
  .github/workflows/release_builds.yml
  Makefile
Labels: github_actions
