Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2021-10, with the labels that each got.

#273 feat(sumologicexporter): treat empty field as non-existent
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/fields_test.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#274 docs(sumologicexporter): use empty string not null to unset auth extension
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#276 chore: bump ot core version to 0.36.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/sender.go
  pkg/extension/sumologicextension/factory_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/factory_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/factory_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/factory_test.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/test/go.mod
  pkg/test/go.sum
Labels: documentation, go

#275 feat(ci): add collector config integration tests
  Makefile
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  otelcolbuilder/cmd/testdata/filelog_reallife_complicated_sumologicexporter.yaml
  otelcolbuilder/cmd/testdata/filelog_sumologicexporter_endpoint.yaml
  otelcolbuilder/cmd/testdata/filterprocessor_logs.yaml
  otelcolbuilder/cmd/testdata/logs/empty.log
  otelcolbuilder/cmd/testdata/storage/.gitignore
  otelcolbuilder/cmd/testdata/telegrafreceiver_sumologicexporter_endpoint.yaml
Labels: go

#210 Metricfrequencyprocessor
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/processor/metricfrequencyprocessor/Makefile
  pkg/processor/metricfrequencyprocessor/README.md
  pkg/processor/metricfrequencyprocessor/config.go
  pkg/processor/metricfrequencyprocessor/config_test.go
  pkg/processor/metricfrequencyprocessor/factory.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/metriccache.go
  pkg/processor/metricfrequencyprocessor/metriccache_test.go
  pkg/processor/metricfrequencyprocessor/pdata.go
  pkg/processor/metricfrequencyprocessor/processor.go
  pkg/processor/metricfrequencyprocessor/processor_test.go
  pkg/processor/metricfrequencyprocessor/sieve.go
  pkg/processor/metricfrequencyprocessor/sieve_helper_test.go
  pkg/processor/metricfrequencyprocessor/sieve_test.go
  pkg/processor/metricfrequencyprocessor/testdata/config.yaml
Labels: documentation, go

#282 docs: tweak metricfrequencyprocessor docs
  README.md
  docs/Configuration.md
  pkg/processor/metricfrequencyprocessor/README.md
Labels: documentation

#283 Fix docs links
  README.md
  docs/Configuration.md
Labels: documentation

#279 feat(routingprocessor): route on resource attributes
  otelcolbuilder/.gitignore
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/cmd/collector_config_test.go
  otelcolbuilder/cmd/testdata/routing_processor.yaml
Labels: go

#281 ci: install opentelemetry-collector-builder from release artifacts
  CONTRIBUTING.md
  Makefile
  README.md
  otelcolbuilder/Makefile
  otelcolbuilder/README.md
Labels: documentation

#286 docs: add .md files to mdl make target
  Makefile
  pkg/extension/sumologicextension/README.md
  pkg/processor/cascadingfilterprocessor/README.md
  pkg/processor/k8sprocessor/README.md
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#287 docs(sumologicextension): document api_base_url
  pkg/extension/sumologicextension/README.md
Labels: documentation

#289 ci: use correct sumo based modules paths
  otelcolbuilder/.otelcol-builder.yaml
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/extension/sumologicextension/credentialsstore.go
  pkg/extension/sumologicextension/credentialsstore_localfs_test.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/processor/cascadingfilterprocessor/cascading_test.go
  pkg/processor/cascadingfilterprocessor/config_test.go
  pkg/processor/cascadingfilterprocessor/factory.go
  pkg/processor/cascadingfilterprocessor/factory_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/idbatcher/id_batcher_test.go
  pkg/processor/cascadingfilterprocessor/processor.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
  pkg/processor/cascadingfilterprocessor/sampling/policy_factory.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/receiver/telegrafreceiver/go.mod
Labels: go

#288 tests(integration): add config for metricfrequencyprocessor
  otelcolbuilder/cmd/collector_config_test.go
  otelcolbuilder/cmd/testdata/metricfrequencyprocessor.yaml
  otelcolbuilder/cmd/testdata/routing_processor.yaml
Labels: go
