Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2021-08, with the labels that each got.

#125 chore: bump go to 1.17rc2
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  vagrant/provision.sh
Labels: github_actions

#123 chore: bump ot version to 0.31.0
  ci/check_uniform_dependencies.sh
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/carbon_formatter.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/filter.go
  pkg/exporter/sumologicexporter/filter_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/graphite_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/exporter/sumologicexporter/test_data_test.go
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
  pkg/exporter/sumologicexporter/translate_metrics.go
  pkg/exporter/sumologicexporter/translate_metrics_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/bigendianconverter/big_endian_converter.go
  pkg/processor/cascadingfilterprocessor/bigendianconverter/big_endian_converter_test.go
  pkg/processor/cascadingfilterprocessor/cascading_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/cascadingfilterprocessor/idbatcher/id_batcher.go
  pkg/processor/cascadingfilterprocessor/idbatcher/id_batcher_test.go
  pkg/processor/cascadingfilterprocessor/processor.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
  pkg/processor/cascadingfilterprocessor/sampling/always_sample_test.go
  pkg/processor/cascadingfilterprocessor/sampling/numeric_tag_filter_test.go
  pkg/processor/cascadingfilterprocessor/sampling/policy.go
  pkg/processor/cascadingfilterprocessor/sampling/policy_filter.go
  pkg/processor/cascadingfilterprocessor/sampling/rate_limiting_test.go
  pkg/processor/cascadingfilterprocessor/sampling/span_properties_filter_test.go
  pkg/processor/cascadingfilterprocessor/sampling/string_tag_filter_test.go
  pkg/processor/k8sprocessor/factory.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor.go
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
  pkg/processor/sumologicsyslogprocessor/factory.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/processor.go
  pkg/processor/sumologicsyslogprocessor/processor_test.go
  pkg/receiver/telegrafreceiver/converter.go
  pkg/receiver/telegrafreceiver/converter_test.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/receiver/telegrafreceiver/metric_opt.go
  pkg/receiver/telegrafreceiver/receiver.go
Labels: go

#129 sumologicextension: add collector_id field to logger
  pkg/extension/sumologicextension/extension.go
Labels: go

#131 sumologicextension: make collector logger fields consistent
  pkg/extension/sumologicextension/extension.go
Labels: go

#132 feat(sumologicexporter): add source category, host and name overrides for otlp
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#130 feat(k8sprocessor): support metadata enrichment for pod.namespace identifier
  pkg/processor/k8sprocessor/doc.go
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor.go
  pkg/processor/k8sprocessor/processor_test.go
Labels: go

#135 docs(sumologicexporter): add translate_telegraf_attributes to config section
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#136 docs(extensions): Create separate section for sumologicextension
  docs/Configuration.md
Labels: documentation

#139 Update Installation.md
  docs/Installation.md
Labels: documentation

#140 Update Configuration.md
  docs/Configuration.md
Labels: documentation

#141 Update HowToRun.md
  docs/HowToRun.md
Labels: documentation

#138 docs: Add docs stubs for processors and exporters
  docs/Configuration.md
Labels: documentation

#143 Update Configuration.md
  docs/Configuration.md
Labels: documentation

#144 Update Configuration.md
  docs/Configuration.md
Labels: documentation

#146 docs(configuration): Create separate sections for Sumo and upstream receivers
  docs/Configuration.md
Labels: documentation

#134 Add backoff mechanism to registration call
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/factory.go
  pkg/extension/sumologicextension/factory_test.go
  pkg/extension/sumologicextension/go.mod
Labels: documentation, go

#145 docs(installation): Create separate section for each installation platform
  docs/Installation.md
Labels: documentation

#147 docs(installation): Add upgrade docs
  docs/Installation.md
Labels: documentation

#152 docs(installation): add systemd instruction
  docs/Installation.md
Labels: documentation

#150 collector library 0.31 update
  pkg/processor/metricfrequencyprocessor/factory.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/metriccache.go
  pkg/processor/metricfrequencyprocessor/metriccache_test.go
  pkg/processor/metricfrequencyprocessor/pdata.go
  pkg/processor/metricfrequencyprocessor/processor.go
  pkg/processor/metricfrequencyprocessor/processor_test.go
  pkg/processor/metricfrequencyprocessor/sieve.go
  pkg/processor/metricfrequencyprocessor/sieve_helper_test.go
  pkg/processor/metricfrequencyprocessor/sieve_test.go
Labels: go

#148 feat(sumologicextension): fail for 4xx errors except 429
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go

#153 feat: log information about being in beta state
  pkg/extension/sumologicextension/extension.go
Labels: go

#156 docs(configuration): Add introductory section
  docs/Configuration.md
Labels: documentation

#157 feat(sumologicexporter): add clear_logs_timestamp option
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
Labels: documentation, go

#159 docs(migration): add local file source for cloud based management
  docs/Migration.md
  docs/README.md
Labels: documentation

#160 docs: add info about beta state
  README.md
  docs/README.md
Labels: documentation

#162 docs: Remove HowToRun.md
  README.md
  docs/HowToRun.md
Labels: documentation

#161 docs(migration): add more migrations
  .markdownlint/style.rb
  docs/Migration.md
Labels: documentation

#164 docs: Remove Upgrade.md
  docs/README.md
  docs/Upgrade.md
Labels: documentation

#166 docs(migration): basic migration info for local file based management
  docs/Migration.md
Labels: documentation

#175 docs(sumologicexporter): fix typo
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#180 sumologicextension: allow cancelling collector registration with context
  pkg/extension/sumologicextension/extension.go
Labels: go

#172 docs(comparison): add info about metric differences
  docs/Comparison.md
  docs/Migration.md
Labels: documentation

#182 sumologicextension: don't expose collector credential key in logs
  pkg/extension/sumologicextension/extension.go
Labels: go

#181 feat(puppet): add manifest and module to install sumologic-otel-collector
  Vagrantfile
  docs/Installation.md
  examples/README.md
  examples/puppet/README.md
  examples/puppet/manifests/install_otel_collector.pp
  examples/puppet/modules/install_otel_collector/files/systemd_service
  examples/puppet/modules/install_otel_collector/manifests/init.pp
  vagrant/provision.sh
Labels: documentation

#183 docs: add information about proxy support
  docs/Configuration.md
Labels: documentation

#184 docs(chef): add chef cookbook
  .gitignore
  docs/Installation.md
  examples/README.md
  examples/chef/README.md
  examples/chef/config.rb
  examples/chef/sumologic-otel-collector/metadata.rb
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/config_logging.yaml
  vagrant/provision.sh
Labels: documentation
