Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2021-07, with the labels that each got.

#64 docs: small fixes - collector_name and creds path
  pkg/extension/sumologicextension/README.md
Labels: documentation

#60 ci: set CGO_ENABLED to 1 on darwin builds
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  otelcolbuilder/Makefile
Labels: github_actions

#67 ci: don't use go1.17-beta1 for builds
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
Labels: github_actions

#66 ci: run binary on ci after build to check if it's ok
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
Labels: github_actions

#68 ci: add replace for golang.org/x/sys due to go1.17-beta1 bug
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: github_actions

#70 fix: don't say heartbeat was sent if error occurred
  pkg/extension/sumologicextension/extension.go
Labels: go

#72 test(sumologicexporter): Re-add attribute translation tests for logs text format
  pkg/exporter/sumologicexporter/exporter_test.go
Labels: go

#73 refactor: closed httptest.Server automatically in sumologixexporter sender tests
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#71 chore: bump telegraf to 1.19.0
  .golangci.yaml
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/converter_test.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: go

#75 refactor: use klauspost/compress for compression
  pkg/exporter/sumologicexporter/compress.go
  pkg/exporter/sumologicexporter/compress_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
Labels: go

#78 sumologicexporter: capitalize attribute names when translating to sumo conventions
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: go

#81 ci: check if there's only one version of github.com/SumoLogic/opentelemetry-collector that we depend on
  .github/workflows/pull_requests.yml
  Makefile
  ci/check_uniform_dependencies.sh
  otelcolbuilder/.otelcol-builder.yaml
  pkg/Makefile.Common
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: github_actions

#63 docs: prepare stubs for documentation
  README.md
  docs/BestPractices.md
  docs/Configuration.md
  docs/Installation.md
  docs/Performance.md
  docs/README.md
  docs/Upgrade.md
Labels: documentation

#85 docs(sumologicexporter): update README.md
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#86 fix(telegrafreceiver): use correct context when consuming metrics
  pkg/receiver/telegrafreceiver/receiver.go
Labels: go

#77 docs: add installation guide
  docs/Installation.md
Labels: documentation

#83 docs(sumologicexporter): update translated attributes in README
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#87 docs(sumologicexporter): fix minor typos
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#89 refactor(sumologicexporter): close httptest.Server with t.Cleanup
  pkg/exporter/sumologicexporter/exporter_test.go
Labels: go

#90 refactor(sumologicexporter): join attribute translation tests into one with subtests
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/test_data_test.go
Labels: go

#88 fix(sumologicexporter): Replace unrecognized source template tokens with `undefined` instead of empty string
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/source_format.go
  pkg/exporter/sumologicexporter/source_format_test.go
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: documentation, go

#93 sumologicextension: don't allocate timer on every heartbeat
  pkg/extension/sumologicextension/extension.go
Labels: go

#92 refactor(telegrafreceiver): refactor
  pkg/receiver/telegrafreceiver/converter.go
  pkg/receiver/telegrafreceiver/converter_test.go
  pkg/receiver/telegrafreceiver/metric_opt.go
Labels: go

#94 ci(docs): add markdown links linter and checker
  .github/workflows/pull_requests.yml
  .markdown_link_check.json
  Makefile
  ci/markdown_link_check.sh
  ci/markdown_links_lint.sh
  pkg/processor/cascadingfilterprocessor/README.md
Labels: documentation, github_actions

#91 docs: add configuration guide for extensions and receivers
  README.md
  docs/Configuration.md
  docs/Installation.md
  examples/README.md
  examples/config_cpu_load_metrics.yaml
Labels: documentation

#82 feat: Sumologicextension otlp traces support
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#97 feat(sumologicextension): support basic auth for collector registration
  pkg/extension/sumologicextension/credentials.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go

#100 feat: bump to go1.17rc1
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  Dockerfile_dev
  Dockerfile_local
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/go.mod
  vagrant/provision.sh
Labels: github_actions

#102 ci: use github actions' matrix.include when specifying arch, os and runs_on
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
Labels: github_actions

#104 fix(ci): don't need build-mac which doesn't exist anymore
  .github/workflows/dev_builds.yml
  .github/workflows/release_builds.yml
Labels: github_actions

#105 feat(sumologicextension): allow using multiple sumologicextensions
  Makefile
  docs/Configuration.md
  docs/README.md
  pkg/exporter/sumologicexporter/exporter.go
  pkg/extension/sumologicextension/extension.go
Labels: documentation, go

#106 fix(sumologicexporter): do not use sumologic extension if endpoint is set
  pkg/exporter/sumologicexporter/exporter.go
Labels: go

#107 Bump ot version to 0.28.0
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/factory.go
  pkg/extension/sumologicextension/factory_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/bigendianconverter/big_endian_converter.go
  pkg/processor/cascadingfilterprocessor/bigendianconverter/big_endian_converter_test.go
  pkg/processor/cascadingfilterprocessor/config_test.go
  pkg/processor/cascadingfilterprocessor/factory.go
  pkg/processor/cascadingfilterprocessor/factory_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/cascadingfilterprocessor/idbatcher/id_batcher_test.go
  pkg/processor/cascadingfilterprocessor/metrics.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/factory.go
  pkg/processor/k8sprocessor/factory_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/config_test.go
  pkg/processor/sumologicsyslogprocessor/factory.go
  pkg/processor/sumologicsyslogprocessor/factory_test.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/factory.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/test/go.mod
  pkg/test/go.sum
Labels: go

#110 feat(sumologicexporter): add telegraf metric translation
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/translate_metrics.go
  pkg/exporter/sumologicexporter/translate_metrics_test.go
Labels: go

#113 fix(sumologicexporter): metric translation typo
  pkg/exporter/sumologicexporter/translate_metrics.go
  pkg/exporter/sumologicexporter/translate_metrics_test.go
Labels: go

#111 fix(sumologicexporter): fix test
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
Labels: go

#114 chore: bump ot version to 0.29.0
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: go

#116 Small Typo
  pkg/extension/sumologicextension/README.md
Labels: documentation

#118 feat(sumologicextension): print actual registered collector name
  pkg/extension/sumologicextension/api/register.go
  pkg/extension/sumologicextension/credentialsstore.go
  pkg/extension/sumologicextension/extension.go
Labels: go

#119 feat(sumologicextension): check locally stored credentials with api before starting the collector
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go
