Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2021-09, with the labels that each got.

#186 docs: add performance docs
  docs/Performance.md
Labels: documentation

#188 docs: add included plugins table in README.md with config links
  .github/workflows/pull_requests.yml
  README.md
  ci/plugins_check.sh
Labels: documentation, github_actions

#189 docs: add logging exporter help
  README.md
  docs/Configuration.md
Labels: documentation

#193 sumologicextension: log registration API errors
  pkg/extension/sumologicextension/api/error.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go

#196 feat(sourceprocessor): add excluding by filtering with regexes
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/attribute_filler.go
  pkg/processor/sourceprocessor/config.go
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
  pkg/processor/sourceprocessor/testdata/config.yaml
Labels: documentation, go

#197 docs(k8sprocessor): Fix README formatting, typos
  pkg/processor/k8sprocessor/README.md
Labels: documentation

#198 fix: change attribute translation
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: documentation, go

#200 Update extension.go
  pkg/extension/sumologicextension/extension.go
Labels: go

#199 Update README.md
  README.md
Labels: documentation

#202 chore: remove go1.16 from CI
  .github/workflows/pull_requests.yml
  .golangci.yaml
Labels: github_actions

#201 chore: bump OT dependency version to v0.34.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/source_format.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  vagrant/provision.sh
Labels: documentation, go

#187 Config, otelcol updates and some general cleanup for metricfrequencyprocessor
  pkg/processor/metricfrequencyprocessor/config.go
  pkg/processor/metricfrequencyprocessor/config_test.go
  pkg/processor/metricfrequencyprocessor/factory.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/metriccache.go
  pkg/processor/metricfrequencyprocessor/metriccache_test.go
  pkg/processor/metricfrequencyprocessor/pdata.go
  pkg/processor/metricfrequencyprocessor/sieve.go
  pkg/processor/metricfrequencyprocessor/sieve_test.go
  pkg/processor/metricfrequencyprocessor/testdata/config.yaml
Labels: go

#207 fix: change link to VirtualBox
  vagrant/README.md
Labels: documentation

#204 feat(exporter): translate k8s.service.name to service
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: documentation, go

#208 feat: add Resource Processor to otelcolbuilder
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#209 chore: don't use deprecated pdata.AttributeValueToString
  pkg/exporter/sumologicexporter/carbon_formatter.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/graphite_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/source_format.go
Labels: go

#203 Metricfrequencyprocessor Readme
  pkg/processor/metricfrequencyprocessor/README.md
Labels: documentation

#211 feat(sumologicexporter): allows `.`, `/`, `:` and `_` for prometheus key
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#212 feat(k8sprocessor): expose delimiter to configuration for services
  pkg/processor/k8sprocessor/README.md
  pkg/processor/k8sprocessor/client_test.go
  pkg/processor/k8sprocessor/config.go
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/factory.go
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/options.go
  pkg/processor/k8sprocessor/processor.go
  pkg/processor/k8sprocessor/processor_test.go
Labels: documentation, go

#213 fix: re-add attributesprocessor
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#214 docs: fix link to Configuration, remove unnecessary 'of'
  examples/ansible/README.md
  examples/chef/README.md
  examples/puppet/README.md
Labels: documentation

#215 chore: bump OT core to v0.35.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/extension/sumologicextension/factory_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/factory_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/factory_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/factory_test.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#217 feat(exporters): add file, carbon and kafka exporters
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#221 feat(sumologicexporter): add support for `-` to prometheus format
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
Labels: go

#223 fix(sumologicexporter): write info log on start
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/go.mod
Labels: go

#226 Update title
  README.md
Labels: documentation

#224 feat(sourceprocessor): parse out stream, time and log from docker log
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: go

#227 fix(sourceprocessor): don't prevent using attributes from Sumo schema in source templates
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: documentation, go

#232 Include file storage extension
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#234 chore: bump Sumo OT distro version references
  docs/Installation.md
  examples/ansible/vars/default.yaml
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/README.md
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: documentation

#231 fix(sourceprocessor): fix source_host_key feature
  pkg/processor/sourceprocessor/attribute_filler.go
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: go

#237 sourceprocessor: don't try to add host for systemd related records
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/source_processor.go
Labels: documentation, go

#229 clarify pod_name behavior and change default key names to fit convention
  pkg/processor/k8sprocessor/config.go
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: documentation, go

#228 fix(k8sprocessor): namespace does not need to be in extracted metadata
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/kube.go
Labels: go

#236 fix(sumologicexporter): don't send null logs
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#240 docs(sourceprocessor): fix collector tag name
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#241 docs(sourceprocessor): remove `source` configuration option
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/config.go
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/testdata/config.yaml
Labels: documentation, go

#243 doc: update filterprocessor configuration
  docs/Configuration.md
Labels: documentation

#244 doc: add new performance benchmarks results
  docs/Performance.md
Labels: documentation

#247 doc(filestorageextension): add configuration doc
  README.md
  docs/Configuration.md
Labels: documentation

#248 fix(sourceprocessor): fix replacing dotted attributes in templates
  pkg/processor/sourceprocessor/attribute_filler.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: go

#250 fix(sourceprocessor): replace missing attributes with "undefined"
  pkg/processor/sourceprocessor/attribute_filler.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: go

#249 fix(sumologicexporter): set default for clear_logs_timestamp
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
Labels: go

#246 feat(sumologicexporter): add timestamp field when sending JSON logs
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#252 fix(doc): fix outdated otc-contrib links
  README.md
  docs/Configuration.md
Labels: documentation

#251 feat(sumologicexporter): make log_key configurable for JSON
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#253 doc(sourceprocessor): remove section about _HOSTNAME substition for systemd
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#254 feat(sourceprocessor)!: use plain attribute names in templates
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/attribute_filler.go
  pkg/processor/sourceprocessor/config.go
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
  pkg/processor/sourceprocessor/testdata/config.yaml
Labels: documentation, go

#258 feat(sumologicexporter): make source metadata attributes always available in source templates
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#262 docs(sumologicexporter): fix README.md markdown
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#261 docs(sourceprocessor): clarify readme about pod annotations
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#260 feat(sourceprocessor): add support for container-level annotations
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/config.go
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/source_category_filler.go
  pkg/processor/sourceprocessor/source_category_filler_test.go
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: documentation, go

#266 refactor(sumologicexporter): don't change attributes in place when translating
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: go

#268 docs(sourceprocessor): describe configuration options in Yaml format
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#269 docs(sourceprocessor): describe source host, source name annotations
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#271 docs(performance): add fine tuning docs
  docs/Performance.md
Labels: documentation
