Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-09, with the labels that each got.

#715 chore: upgrade golangci-lint to v1.49
  .golangci.yaml
  Makefile
  pkg/exporter/sumologicexporter/compress.go
  pkg/exporter/sumologicexporter/compress_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/source_format.go
  pkg/extension/sumologicextension/extension.go
  pkg/processor/cascadingfilterprocessor/bigendianconverter/big_endian_converter.go
  pkg/processor/cascadingfilterprocessor/bigendianconverter/big_endian_converter_test.go
  pkg/processor/k8sprocessor/doc.go
Labels: go, Skip Changelog

#716 test: re-enable staticcheck linter
  .golangci.yaml
  pkg/exporter/sumologicexporter/compress_test.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/extension.go
Labels: go, Skip Changelog

#714 feat: drop support for expr in filterprocessor
  CHANGELOG.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#678 feat(sumologicexporter): remove translating telegraf metric names
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/translate_metrics.go
  pkg/exporter/sumologicexporter/translate_metrics_test.go
Labels: documentation, go

#672 feat(sumologicexporter): remove translating attributes
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/exporter/sumologicexporter/translate_attributes_test.go
Labels: documentation, go

#720 docs(sourceprocessor): fix typo in source_category_prefix
  pkg/processor/sourceprocessor/README.md
Labels: documentation, Skip Changelog

#724 test(k8sprocessor): do not skip if other associations are already up to date
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
Labels: documentation, go

#725 fix(k8sprocessor): fix metadata enrichment
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
Labels: documentation, go

#729 chore(examples): add default configuration
  examples/default.yaml
Labels: Skip Changelog

#730 chore: add default template generation
  scripts/install.sh
Labels: Skip Changelog

#733 chore(scripts/install.sh): add support for systemd
  examples/systemd/otelcol-sumo.service
  scripts/install.sh
Labels: Skip Changelog

#710 fix(k8sprocessor): keep pod's services information up to date
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/fake_owner.go
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/kube/owner.go
  pkg/processor/k8sprocessor/kube/owner_test.go
Labels: documentation, go

#731 Detect host CPU architecture when installing builder
  otelcolbuilder/Makefile
Labels: Skip Changelog

#738 chore(scripts/install): fix systemd check
  scripts/install.sh
Labels: Skip Changelog
