Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-11, with the labels that each got.

#726 docs(changelog): update according to release v0.57.2-sumo-1
  CHANGELOG.md
Labels: documentation

#813 feat(scripts/install.sh): add flag to keep downloads
  pkg/scripts_test/command.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: Skip Changelog

#814 fix(scripts/install.sh): rename systemd disabling flag
  docs/Installation.md
  examples/ansible/install_sumologic_otel_collector.yaml
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/modules/install_otel_collector/manifests/init.pp
  pkg/scripts_test/command.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: documentation, go, Skip Changelog

#811 feat(scripts/install.sh): add --skip-config option
  docs/Installation.md
  pkg/scripts_test/command.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: documentation, go, Skip Changelog

#818 fix(globprovider): don't error on empty globs
  pkg/configprovider/globprovider/provider.go
  pkg/configprovider/globprovider/provider_test.go
Labels: go, Skip Changelog

#819 test(scripts/install.sh): check config path permissions and ownership
  pkg/scripts_test/check.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/install_test.go
Labels: go, Skip Changelog

#821 fix(scripts/install.sh): credentials folder for versions <= 0.57.2
  scripts/install.sh
Labels: Skip Changelog

#823 docs: rename docs to kebab-case
  CHANGELOG.md
  Makefile
  README.md
  docs/BestPractices.md
  docs/Comparison.md
  docs/Configuration.md
  docs/Installation.md
  docs/KnownIssues.md
  docs/Migration.md
  docs/OpenTelemetryConcepts.md
  docs/Performance.md
  docs/README.md
  docs/Troubleshooting.md
  docs/Upgrading.md
  docs/UpstreamRelation.md
  docs/best-practices.md
  docs/comparison.md
  docs/configuration.md
  docs/installation.md
  docs/known-issues.md
  docs/migration.md
  docs/open-telemetry-concepts.md
  docs/performance.md
  docs/release.md
  docs/troubleshooting.md
  docs/upgrading.md
  docs/upstream-relation.md
  examples/ansible/README.md
  examples/chef/README.md
  examples/puppet/README.md
Labels: documentation, Skip Changelog

#825 fix(build): revert "feat(build): use patched versions of four upstream receivers"
  CHANGELOG.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#824 feat(sourceprocessor): ensure that '_collector' is set before other source headers
  CHANGELOG.md
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: documentation, go

#829 docs(release.md): add missing info about supported components
  docs/release.md
Labels: documentation, Skip Changelog

#830 Update orbs tools versions
  .circleci/config.yml
Labels: Skip Changelog

#828 chore(deps): upgrade Telegraf to 1.24.3-sumo-2
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/receiver/telegrafreceiver/receiver.go
Labels: documentation, go

#831 test(scripts/install.sh): fix file names and build tags
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/config.go
  pkg/scripts_test/install_unix_test.go
  pkg/scripts_test/install_windows_test.go
Labels: go, Skip Changelog

#832 fix: wrong file path for Puppet configuration
  examples/puppet/README.md
Labels: documentation, Skip Changelog

#834 fix: within install script, when asking user to continue - add a space before user input
  scripts/install.sh
Labels: Skip Changelog

#835 fix(config): flag parsing after core upgrade
  otelcolbuilder/.gitignore
  otelcolbuilder/cmd/collector_config_test.go
  otelcolbuilder/cmd/configprovider.go
  otelcolbuilder/cmd/flags.go
Labels: go, Skip Changelog

#837 fix(build): remove leftover debugging code
  otelcolbuilder/cmd/configprovider.go
Labels: go, Skip Changelog

#838 docs: add installation troubleshooting
  docs/troubleshooting.md
Labels: documentation, Skip Changelog

#839 feat(receiver/apache)!: enable feature gates by default
  CHANGELOG.md
  docs/upgrading.md
  otelcolbuilder/cmd/configprovider.go
Labels: documentation, go

#840 fix(scripts/install.sh): add "Installed version: none"
  scripts/install.sh
Labels: Skip Changelog

#841 docs(installation): add `--preserve-env` to installation command
  docs/installation.md
Labels: documentation, Skip Changelog

#849 fix(otelcolbuilder): bump dependencies to v0.66.0
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation, Skip Changelog

#850 docs(changelog): add missing PR links
  CHANGELOG.md
Labels: documentation, Skip Changelog

#851 fix(scripts/install.sh) add SELinux labels
  scripts/install.sh
Labels: Skip Changelog

#848 feat(receiver/elasticsearch)!: enable feature gates by default
  CHANGELOG.md
  docs/upgrading.md
  otelcolbuilder/cmd/configprovider.go
Labels: documentation, go

#815 update install script to include setting ACL grants for typical linux log directories
  pkg/scripts_test/check.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#853 docs: add link for Telegraf receiver
  docs/configuration.md
Labels: documentation, Skip Changelog

#852 feat(packaging/msi): add msi packaging
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  examples/sumologic-windows.yaml
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext.sln
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/Config.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/ConfigUpdater.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/CustomAction.config
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/CustomAction.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/Exceptions.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/Logger.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/SumoLogic.wixext.csproj
  packaging/msi/SumoLogic.wixext/SumoLogicTests/ConfigTests.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/ConfigUpdaterTests.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/Properties/AssemblyInfo.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/SumoLogicTests.csproj
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/empty.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/invalid.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/no-indentation.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/with-extensions-block.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/without-extensions-block.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/packages.config
  packaging/msi/wix/assets/LICENSE.rtf
  packaging/msi/wix/assets/banner_background.bmp
  packaging/msi/wix/assets/dialog_background.bmp
  packaging/msi/wix/assets/project.ico
  packaging/msi/wix/components.wxs
  packaging/msi/wix/folders.wxs
  packaging/msi/wix/otelcol-sumo.wixproj
  packaging/msi/wix/package.en-us.wxl
  packaging/msi/wix/package.wxs
  packaging/msi/wix/ui/appdata-dir-dlg.wxs
  packaging/msi/wix/ui/otelcol-sumo.wxs
  packaging/msi/wix/variables.wxi
Labels: documentation
