Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-01, with the labels that each got.

#379 docs: add note recommending to limit access to configuration file
  docs/Configuration.md
  docs/Installation.md
Labels: documentation

#380 fix(k8sprocessor): fix data race in k8sprocessor and some some tests
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/owner.go
  pkg/processor/k8sprocessor/kube/owner_test.go
Labels: go, do-not-merge/hold

#382 docs(sumologicexporter): fix auth docs
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#383 tests(k8sprocessor): enable asserts in ownercache tests
  pkg/processor/k8sprocessor/kube/owner_test.go
Labels: go

#386 fix(k8sprocessor): do not include empty service label
  pkg/processor/k8sprocessor/kube/client.go
Labels: go

#387 fix(k8sprocessor): delete pod entries for all corresponding IDs
  pkg/processor/k8sprocessor/client_test.go
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/kube/owner_test.go
  pkg/processor/k8sprocessor/processor.go
  pkg/processor/k8sprocessor/processor_test.go
Labels: go

#389 feat(k8sprocessor): only enable owner informers when configured
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/fake_owner.go
  pkg/processor/k8sprocessor/kube/owner.go
  pkg/processor/k8sprocessor/kube/owner_test.go
Labels: go

#392 fix(sumologicexporter): don't remove fields after sending data
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#394 Update Comparison.md
  docs/Comparison.md
Labels: documentation

#397 chore: bump OT core to v0.42.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/config_test.go
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/config_test.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/config_test.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#399 refactor(sumologicextension): refactor credentialsstore
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs_test.go
  pkg/extension/sumologicextension/credentials/encrypt.go
  pkg/extension/sumologicextension/credentials/store.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/factory.go
  pkg/extension/sumologicextension/factory_test.go
Labels: go
