Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-04, with the labels that each got.

#515 docs(k8sprocessor): describe configuration in yaml
  pkg/processor/k8sprocessor/README.md
Labels: documentation

#516 fix(docs): use install token instead of access key and id
  docs/Configuration.md
Labels: documentation

#517 refactor(sumologicexporter): optimize fields stringification
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/fields_test.go
Labels: go

#520 docs: Apple M1 support
  docs/Installation.md
Labels: documentation

#518 refactor(sumologicexporter): optimize compressor using sync.Pool
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/config_test.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#523 fix(ci): fix release tag regexes for Gihub Actions
  .github/workflows/release_builds.yml
Labels: github_actions

#524 ci: allow release updates
  .github/workflows/release_builds.yml
Labels: github_actions

#522 docs: add CHANGELOG.md
  CHANGELOG.md
  README.md
Labels: documentation

#526 docs: remove beta note
  README.md
Labels: documentation

#529 docs(changelog): add v0.47.0-sumo-0
  CHANGELOG.md
Labels: documentation

#531 docs(readme): update repo title
  README.md
Labels: documentation

#527 docs: update version number
  docs/Installation.md
  examples/ansible/vars/default.yaml
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/README.md
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: documentation

#519 refactor(sumologicexporter): use golang.org/x/exp/slices for sorting fields
  .golangci.yaml
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
Labels: go

#533 docs: remove remaining mentions of beta status
  docs/README.md
  pkg/receiver/telegrafreceiver/README.md
Labels: documentation

#532 chore(sumologicextension): remove beta banner
  pkg/extension/sumologicextension/extension.go
Labels: go

#534 chore: bump OT core to v0.48.0
  Makefile
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#530 refactor(sumologicextension): use bytes slices and strings.Builder to decrease allocations
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
Labels: go

#536 fix(sumologicexporter): treat resource attributes as fields for otlp
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/exporter/sumologicexporter/source_format.go
Labels: documentation, go

#538 docs(changelog): add bump to v0.48.0 OT core
  CHANGELOG.md
Labels: documentation

#541 ci: add a check for changelog changes
  .github/workflows/changelog.yaml
Labels: github_actions, Skip Changelog

#540 chore(k8sprocessor): update dependencies
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
Labels: Skip Changelog

#537 docs: describe how OpenTelemetry data model maps to Sumo Logic
  docs/OpenTelemetryConcepts.md
  docs/README.md
Labels: documentation

#553 docs: Clarify status of sumologicextension
  CHANGELOG.md
  pkg/extension/sumologicextension/README.md
Labels: documentation

#554 docs: fix changelog
  CHANGELOG.md
  Makefile
Labels: documentation, Skip Changelog

#115 feat: add udpdemux tool
  pkg/tools/udpdemux/Makefile
  pkg/tools/udpdemux/README.md
  pkg/tools/udpdemux/go.mod
  pkg/tools/udpdemux/main.go
Labels: documentation, go, Skip Changelog

#550 chore(core): upgrade to v0.49.0
  CHANGELOG.md
  Makefile
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  docs/Migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/testdata/filelog_reallife_complicated_sumologicexporter.yaml
  pkg/receiver/telegrafreceiver/README.md
Labels: documentation

#555 chore: fix local Dockerfile
  Dockerfile_local
Labels: Skip Changelog

#539 fix(cascadingfilterprocessor): prevent overriding metrics in cascading filter processor - add processor tag
  CHANGELOG.md
  pkg/processor/cascadingfilterprocessor/metrics.go
  pkg/processor/cascadingfilterprocessor/processor.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
Labels: documentation, go

#556 docs: add breaking change description to changelog
  CHANGELOG.md
  docs/Upgrading.md
Labels: documentation

#558 chore: release v0.49.0-sumo-0
  CHANGELOG.md
Labels: documentation

#547 feat: add rawk8seventsreceiver
  CHANGELOG.md
  pkg/receiver/rawk8seventsreceiver/Makefile
  pkg/receiver/rawk8seventsreceiver/README.md
  pkg/receiver/rawk8seventsreceiver/config.go
  pkg/receiver/rawk8seventsreceiver/config_test.go
  pkg/receiver/rawk8seventsreceiver/factory.go
  pkg/receiver/rawk8seventsreceiver/factory_test.go
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/k8sconfig.go
  pkg/receiver/rawk8seventsreceiver/receiver.go
  pkg/receiver/rawk8seventsreceiver/receiver_test.go
  pkg/receiver/rawk8seventsreceiver/testdata/config.yaml
Labels: documentation, go

#559 chore(makefile): use default remote name `origin` in `push-tag` target
  Makefile
Labels: Skip Changelog

#561 fix(sumologicexporter): batch metrics if source headers match
  CHANGELOG.md
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#563 chore: prepare v0.50.0-sumo-0 release
  CHANGELOG.md
Labels: documentation
