Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-08, with the labels that each got.

#684 docs(upgrading): move instructions from the unreleased section
  docs/Upgrading.md
Labels: documentation, Skip Changelog

#685 feat(sumologicexporter): deprecate setting source headers
  CHANGELOG.md
  docs/Upgrading.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
Labels: documentation, go

#688 docs: update release guide with adding Upgrading.md updating instructions
  docs/release.md
Labels: documentation, Skip Changelog

#695 fix(ci): add condition to check symbols only when build related files changed
  .github/workflows/pull_requests.yml
Labels: github_actions, Skip Changelog

#694 docs(readme): add a table with supported OS and architectures
  README.md
Labels: documentation, Skip Changelog

#697 docs(sumologicextension): add information about running the collector as systemd service
  docs/Configuration.md
  docs/Installation.md
  pkg/extension/sumologicextension/README.md
Labels: documentation, Skip Changelog

#702 chore(sumologicexporter,sumologicextension): replace deprecated functions
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/test_data_test.go
  pkg/extension/sumologicextension/extension.go
Labels: go, Skip Changelog

#701 feat: define stability levels for components
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/factory.go
  pkg/extension/sumologicextension/README.md
  pkg/processor/cascadingfilterprocessor/README.md
  pkg/processor/cascadingfilterprocessor/factory.go
  pkg/processor/k8sprocessor/README.md
  pkg/processor/k8sprocessor/factory.go
  pkg/processor/metricfrequencyprocessor/README.md
  pkg/processor/metricfrequencyprocessor/factory.go
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sumologicschemaprocessor/README.md
  pkg/processor/sumologicschemaprocessor/factory.go
  pkg/processor/sumologicsyslogprocessor/README.md
  pkg/processor/sumologicsyslogprocessor/factory.go
  pkg/receiver/rawk8seventsreceiver/README.md
  pkg/receiver/rawk8seventsreceiver/factory.go
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/factory.go
Labels: documentation, go

#699 chore: upgrade OpenTelemetry Core to v0.57.2
  CHANGELOG.md
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#698 docs(Configuration): update information about setting source headers
  docs/Configuration.md
Labels: documentation, Skip Changelog

#704 chore: prepare for release v0.57.2-sumo-0
  CHANGELOG.md
  docs/Upgrading.md
Labels: documentation

#705 ci: fix release workflow
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#706 chore: post-release v0.57.2
  CHANGELOG.md
  docs/Upgrading.md
Labels: documentation

#709 feat(filterprocessor): drop custom changes
  CHANGELOG.md
  README.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#712 docs(troubleshooting): link to upstream docs
  docs/Troubleshooting.md
Labels: documentation, Skip Changelog
