Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-06, with the labels that each got.

#593 fix(k8sprocessor): store only necessary Pod data
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
Labels: documentation, go

#600 chore(deps): update OT core to v0.52.0
  CHANGELOG.md
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/test_data_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/pdata.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#601 fix(filelogreceiver): fix changing fingerprint_size
  CHANGELOG.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#599 chore(git): ignore *.log files
  .gitignore
Labels: Skip Changelog

#597 Add CumulativeToDelta Processor
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#603 chore: fix changelog
  CHANGELOG.md
Labels: documentation, Skip Changelog

#604 feat: add logstransformprocessor from upstream
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#607 docs: fix link to documentation for hostmetricsreceiver
  docs/Configuration.md
  examples/README.md
Labels: documentation, Skip Changelog

#609 docs: document purpose of this repo, versioning and breaking changes policies
  README.md
  docs/README.md
  docs/UpstreamRelation.md
Labels: documentation, Skip Changelog

#610 docs: add install token documentation link to main configuration doc
  docs/Configuration.md
Labels: documentation, Skip Changelog

#612 docs(rawk8seventsreceiver): fix config defaults
  pkg/receiver/rawk8seventsreceiver/README.md
Labels: documentation, Skip Changelog

#611 feat: build arm64 binary for darwin
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  CHANGELOG.md
  otelcolbuilder/.gon_config_amd64.json
  otelcolbuilder/.gon_config_arm64.json
  otelcolbuilder/Makefile
Labels: documentation, github_actions

#613 chore(dockerfile): remove expose 55680 55679 ports
  Dockerfile
  Dockerfile_dev
  Dockerfile_local
Labels: Skip Changelog

#616 fix(cascading_filter): fix leak on traces where decision was made
  CHANGELOG.md
  pkg/processor/cascadingfilterprocessor/long_running_test.go
  pkg/processor/cascadingfilterprocessor/processor.go
Labels: documentation, go

#617 Backport v0.53 fixes and prepare v0.52.0-sumo-1 release
  CHANGELOG.md
  docs/Configuration.md
  pkg/processor/cascadingfilterprocessor/long_running_test.go
  pkg/processor/cascadingfilterprocessor/processor.go
Labels: documentation, go

#615 chore(core): upgrade to v0.53.0
  CHANGELOG.md
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/cascadingfilterprocessor/processor.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#614 feat: add missing core receivers, processors and extensions
  CHANGELOG.md
  README.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#619 backport: fix(cascading_filter): fix leak on traces where decision was made
  pkg/processor/cascadingfilterprocessor/long_running_test.go
  pkg/processor/cascadingfilterprocessor/processor.go
Labels: go

#621 chore(github actions): fix plugins-check
  .github/workflows/pull_requests.yml
Labels: github_actions, Skip Changelog

#577 feat(journaldreceiver): add missing dependencies
  CHANGELOG.md
  Dockerfile
  Dockerfile_dev
  Dockerfile_local
  Makefile
  docs/release.md
Labels: documentation

#623 docs(vagrant): improve vagrant documentation
  Dockerfile_local
  Makefile
  vagrant/README.md
  vagrant/provision.sh
Labels: documentation, Skip Changelog

#622 chore: prepare release v0.53.0-sumo-0
  CHANGELOG.md
Labels: documentation

#627 fix: fix import paths for observer extensions
  otelcolbuilder/.otelcol-builder.yaml
Labels: Skip Changelog

#628 ci: disable MacOS builds while signing not possible
  .github/workflows/release_builds.yml
  CHANGELOG.md
Labels: documentation, github_actions

#629 ci: comment out references to MacOS build
  .github/workflows/release_builds.yml
  CHANGELOG.md
Labels: documentation, github_actions

#631 fix(ci): remove wrong if condition in pipelines for FIPS binaries
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#620 feat(rawk8seventsreceiver): remember last processed resource version
  CHANGELOG.md
  otelcolbuilder/cmd/collector_config_test.go
  pkg/receiver/rawk8seventsreceiver/README.md
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/receiver.go
  pkg/receiver/rawk8seventsreceiver/receiver_test.go
Labels: documentation, go

#635 chore: remove fork of stanza
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation, Skip Changelog

#638 fix(ci): change target used to push manifests for images in dev pipeline
  .github/workflows/dev_builds.yml
Labels: github_actions, Skip Changelog

#630 docs(release): describe fixing a failed release
  Makefile
  docs/release.md
Labels: documentation, Skip Changelog

#639 fix(ci): add -fips suffix to container manifests for latest FIPS images
  .github/workflows/dev_builds.yml
  .github/workflows/release_builds.yml
  ci/push_docker_multiplatform_manifest.sh
Labels: github_actions, Skip Changelog

#637 chore: upgrade OT core to v0.54.0
  CHANGELOG.md
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/receiver_test.go
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#640 chore(ci): change order of pushing to ECR
  .github/workflows/dev_builds.yml
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#641 docs(release): change source of upstream components
  docs/release.md
Labels: documentation, Skip Changelog

#642 ci: re-enable MacOS builds
  .github/workflows/release_builds.yml
  CHANGELOG.md
Labels: documentation, github_actions
