Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-02, with the labels that each got.

#400 feat(sumologicextension): use sha256 for collector credentials storage hashing
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/credentials/encrypt.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/factory.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
Labels: go

#402 feat(sumologicextension): use different key for encryption and filename
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/credentials/encrypt.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go

#403 Update Comparison.md
  docs/Comparison.md
Labels: documentation

#404 feat(sumologicextension): re-register when locally stored credentials are invalid
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs_test.go
  pkg/extension/sumologicextension/credentials/store.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
Labels: go

#405 Update README.md
  README.md
Labels: documentation

#409 fix(k8sprocessor): add missing daemonset enrichment
  pkg/processor/k8sprocessor/kube/owner.go
  pkg/processor/k8sprocessor/kube/owner_test.go
Labels: go

#411 chore: bump OT core to v0.44.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/sender.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/processor.go
  pkg/processor/sumologicsyslogprocessor/processor_test.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#406 docs: simplify readme make commands
  README.md
Labels: documentation

#412 Update README.md
  README.md
Labels: documentation

#410 Update Comparison.md
  docs/Comparison.md
Labels: documentation

#414 docs: add file permissions check to systemd installation instructions
  docs/Installation.md
Labels: documentation

#415 style: fix typo `validateCredenials`
  pkg/extension/sumologicextension/extension.go
Labels: go

#417 refactor(sumologicextension): refactor registration and credentials storage calls
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go

#419 docs(configuration): use File Storage extension with Filelog receiver
  docs/Configuration.md
Labels: documentation

#421 docs(known-issues): remove missing metadata issue
  docs/KnownIssues.md
Labels: documentation

#424 fix(sumologicexporter): escape newlines for Graphite metrics
  pkg/exporter/sumologicexporter/graphite_formatter.go
  pkg/exporter/sumologicexporter/graphite_formatter_test.go
Labels: go

#420 feat(sumologicextension): re-register collector on HTTP Unauthorized
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: go

#422 docs(troubleshooting): add section on full queue
  docs/README.md
  docs/Troubleshooting.md
Labels: documentation

#426 fix(sumologicexporter): escape \r in Carbon metrics
  pkg/exporter/sumologicexporter/carbon_formatter.go
  pkg/exporter/sumologicexporter/carbon_formatter_test.go
Labels: go

#427 feat(sumologicexporter): add better error handling for errors from Sumo API
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go

#327 ci: do not run test and build for build unrelated files
  .github/workflows/pull_requests.yml
Labels: github_actions

#425 docs(sumologicexporter): add persistent queue
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#429 feat(sumologicextension): add force_registration flag
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/api/register.go
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/factory.go
Labels: documentation, go

#431 docs(telegrafreceiver): update info on data type translations
  pkg/receiver/telegrafreceiver/README.md
Labels: documentation

#433 chore: bump OT core to v0.45.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/carbon_formatter.go
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/config_test.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/graphite_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/pdata.go
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#434 fix(sumoexporter): Prometheus newline sanitization
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
Labels: go
