Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-12, with the labels that each got.

#860 chore: release v0.66.0-sumo-0
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation

#862 docs: fix upgrading guide for elasticsearchrecever in v0.66
  docs/upgrading.md
Labels: documentation, Skip Changelog

#864 fix(otelcolbuilder): use correct upstream modules
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#868 docs(contributing.md): update proposed go.work file
  CONTRIBUTING.md
Labels: documentation, Skip Changelog

#800 Add EnvironmentFile support into systemd service File
  examples/systemd/otelcol-sumo.service
  pkg/scripts_test/check.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#869 feat(packaging/msi): add conf.d dir, mv token/tags to common.yaml
  CHANGELOG.md
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/main_windows.go.patch
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/CustomAction.cs
  packaging/msi/wix/assets/common.yaml
  packaging/msi/wix/components.wxs
  packaging/msi/wix/folders.wxs
  packaging/msi/wix/package.wxs
Labels: documentation

#856 feat(ci): test wixext & build msis
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  CHANGELOG.md
  ci/get_productversion.sh
  packaging/msi/SumoLogic.wixext/SumoLogicTests/packages.config
  packaging/msi/wix/components.wxs
  packaging/msi/wix/variables.wxi
Labels: documentation, github_actions

#870 chore: prepare the v0.67.0-sumo-0 release
  CHANGELOG.md
Labels: documentation, do-not-merge/hold

#873 chore: post-release v0.67.0-sumo-0
  CHANGELOG.md
Labels: documentation

#880 feat(sumologicschemaprocessor): add allowlist and denylist to nesting processor
  CHANGELOG.md
  pkg/processor/sumologicschemaprocessor/README.md
  pkg/processor/sumologicschemaprocessor/config.go
  pkg/processor/sumologicschemaprocessor/config_test.go
  pkg/processor/sumologicschemaprocessor/nesting_processor.go
  pkg/processor/sumologicschemaprocessor/nesting_processor_test.go
  pkg/processor/sumologicschemaprocessor/testdata/config.yaml
Labels: documentation, go

#876 docs(upgrading): use Source processor instead of Transform processor for source attributes
  docs/upgrading.md
Labels: documentation, Skip Changelog

#881 feat(sumologicschemaprocessor): add squashing single values in nesting processor
  CHANGELOG.md
  pkg/processor/sumologicschemaprocessor/README.md
  pkg/processor/sumologicschemaprocessor/config.go
  pkg/processor/sumologicschemaprocessor/config_test.go
  pkg/processor/sumologicschemaprocessor/nesting_processor.go
  pkg/processor/sumologicschemaprocessor/nesting_processor_test.go
  pkg/processor/sumologicschemaprocessor/testdata/config.yaml
Labels: documentation, go

#882 feat(extension/sumologic): mark `install_token` as opaque
  CHANGELOG.md
  pkg/extension/sumologicextension/config.go
Labels: documentation, go

#883 Install script, do not hang on systemctl status
  scripts/install.sh
Labels: bug, Skip Changelog
