Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-05, with the labels that each got.

#564 fix(ci): update release template
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#568 docs: updating patched processors
  docs/Dev.md
Labels: documentation, Skip Changelog

#571 fix(docs): link to plugins from current version in documentation
  pkg/receiver/telegrafreceiver/README.md
Labels: documentation, Skip Changelog

#572 fix(docs): link to Telegraf configuration from current version in documentation
  pkg/receiver/telegrafreceiver/README.md
Labels: documentation, Skip Changelog

#570 Update docs and examples from 0.47.0 to 0.50.0 version
  docs/Installation.md
  examples/ansible/vars/default.yaml
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/README.md
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: documentation, Skip Changelog

#576 feat: enable rawk8seventsreceiver
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#575 fix(cascadingfilterprocessor): do not attach sampling.rule attribute if trace accept rules are not specified
  CHANGELOG.md
  pkg/processor/cascadingfilterprocessor/processor.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
Labels: documentation, go

#579 feat(sumologicexporter)!: attribute translation: change `file.path.resolved` to `log.file.path_resolved`
  CHANGELOG.md
  docs/Configuration.md
  otelcolbuilder/cmd/testdata/filelog_reallife_complicated_sumologicexporter.yaml
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/translate_attributes.go
Labels: documentation, go

#581 docs(dev): update OT update instructions
  docs/Dev.md
Labels: documentation, Skip Changelog

#584 docs: rename `docs/Dev.md` to `docs/release.md`
  CONTRIBUTING.md
  docs/release.md
Labels: documentation, Skip Changelog

#585 docs(changelog): add release v0.51.0-sumo-0
  CHANGELOG.md
  docs/Upgrading.md
Labels: documentation

#590 feat(sumologicexporter)!: remove support for Carbon2 metrics format
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/carbon_formatter.go
  pkg/exporter/sumologicexporter/carbon_formatter_test.go
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/config_test.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#591 docs(release): improve releasing instructions
  .github/workflows/release_builds.yml
  docs/release.md
Labels: documentation, github_actions, Skip Changelog

#592 feat(sumologicexporter)!: remove support for graphite metrics format
  CHANGELOG.md
  docs/Upgrading.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/config_test.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/graphite_formatter.go
  pkg/exporter/sumologicexporter/graphite_formatter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go
