Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-03, with the labels that each got.

#440 fix(sumologicexporter): allocate cap not len for buffer for decoding reponse error
  pkg/exporter/sumologicexporter/sender.go
Labels: go

#441 docs(configuration): remove outdated section on upstream receivers
  docs/Configuration.md
Labels: documentation

#442 docs(configuration): update Table of Contents
  docs/Configuration.md
Labels: documentation

#439 fix(sumologicexporter): fix batching logs from different files
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/fields.go
  pkg/exporter/sumologicexporter/go.mod
Labels: go

#446 fix(sumologicexporter): deduplicate error messages
  pkg/exporter/sumologicexporter/deduplicate_errors.go
  pkg/exporter/sumologicexporter/deduplicate_errors_test.go
  pkg/exporter/sumologicexporter/exporter.go
Labels: go

#449 fix(telegrafreceiver): shutdown Telegraf agent gracefully
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/receiver/telegrafreceiver/receiver.go
  pkg/receiver/telegrafreceiver/receiver_test.go
Labels: go

#452 docs(telegrafreceiver): point docs links to the tagged Telegraf version
  pkg/receiver/telegrafreceiver/README.md
Labels: documentation

#453 feat(ci): add darwin binary signing and notarization
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  otelcolbuilder/.gon_config.json
  otelcolbuilder/Makefile
Labels: github_actions

#454 Update docs and examples to use the most recent otelcol version
  docs/Installation.md
  examples/ansible/vars/default.yaml
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/README.md
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: documentation

#456 chore(ci): require darwin build for release
  .github/workflows/release_builds.yml
Labels: github_actions

#457 ci: add release name in darwin artifacts and .dmg files
  .github/workflows/release_builds.yml
Labels: github_actions

#459 ci-add-darwin-binary-to-artifacts-after-signing
  .github/workflows/release_builds.yml
Labels: github_actions

#460 fix(ci): release job should store artifacts without version
  .github/workflows/release_builds.yml
Labels: github_actions

#462 fix(ci): prevent pushing container images when darwin build fails
  .github/workflows/release_builds.yml
Labels: github_actions

#464 docs(readme): remove duplicated contributing guide
  CONTRIBUTING.md
  README.md
Labels: documentation

#465 docs(configuration): describe use cases instead of components
  docs/Configuration.md
Labels: documentation

#466 docs(readme): add missing components
  README.md
Labels: documentation

#468 docs(readme): fix typo in `pod_template_hash_key`
  pkg/processor/sourceprocessor/README.md
Labels: documentation

#467 docs(configuration): add example for keeping prometheus format with OTLP
  docs/Configuration.md
Labels: documentation

#473 chore: bump go to 1.18
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  Dockerfile_dev
  Dockerfile_local
  Makefile
  otelcolbuilder/cmd/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/extension/sumologicextension/go.mod
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/receiver/telegrafreceiver/go.mod
  pkg/test/go.mod
  vagrant/provision.sh
Labels: github_actions

#476 docs(k8sprocessor): fix metadata key for CronJobs
  pkg/processor/k8sprocessor/README.md
Labels: documentation

#450 feat(sumologicextension): use install tokens for registration
  docs/Comparison.md
  docs/Configuration.md
  docs/Migration.md
  examples/config_cpu_load_metrics.yaml
  pkg/exporter/sumologicexporter/README.md
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/factory_test.go
  pkg/extension/sumologicextension/testdata/config.yaml
Labels: documentation, go, do-not-merge/hold

#480 fix(ci): install gon by curl not via broken brew tap
  .github/workflows/release_builds.yml
Labels: github_actions

#479 chore: bump go version to 1.18
  .circleci/config.yml
  .golangci.yaml
  pkg/Makefile.Common
  pkg/test/timestamp_test.go
Labels: go

#482 docs: fix command line options
  docs/Configuration.md
Labels: documentation

#484 docs: add missing otlpreceiver link
  docs/Configuration.md
Labels: documentation

#490 chore: update otc version to 0.47.0
  README.md
  docs/Configuration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/translate_attributes.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#492 fix(k8sprocessor): parse IP out of net.Addr to correctly tag k8s.pod.ip
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor_test.go
Labels: go

#494 chore(deps): bump telegraf to 1.22.0-sumo-0
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/all.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: go

#497 feat(k8sprocessor): attempt to parse IP for unknown net.Addr implementations
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor_test.go
Labels: go

#499 feat!: remove access key and id support
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/credentials/store.go
  pkg/extension/sumologicextension/extension.go
Labels: documentation, go

#501 docs(configuration): fix syntax highlighting in CLI options
  docs/Configuration.md
Labels: documentation

#500 docs(configuration): add section on setting source category
  docs/Configuration.md
Labels: documentation

#504 docs(dev): using Go workspaces
  .gitignore
  docs/Dev.md
Labels: documentation

#489 feat(exporter/sumologic): drop attribute used by routing processor
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/exporter/sumologicexporter/test_data_test.go
Labels: documentation, go

#495 feat(exporter/sumologic): add metrics for HTTP requests
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/internal/observability/observability.go
  pkg/exporter/sumologicexporter/internal/observability/observability_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#505 docs(known-issues): fix typo "Cannot starting reading"
  docs/KnownIssues.md
Labels: documentation

#506 docs(known-issues): fix wording on collector deletion
  docs/KnownIssues.md
Labels: documentation

#507 fix(exporter/sumologic): fix handling empty histograms by prometheus
  pkg/exporter/sumologicexporter/carbon_formatter_test.go
  pkg/exporter/sumologicexporter/graphite_formatter_test.go
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
  pkg/exporter/sumologicexporter/test_data_test.go
Labels: go

#509 docs(components): update links to forked processors
  README.md
Labels: documentation

#508 fix(telegrafreceiver): retry recoverable errors
  otelcolbuilder/cmd/testdata/telegrafreceiver_sumologicexporter_endpoint.yaml
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/config.go
  pkg/receiver/telegrafreceiver/factory.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/receiver/telegrafreceiver/receiver.go
  pkg/receiver/telegrafreceiver/receiver_test.go
Labels: documentation, go

#510 docs(known-issues): describe filelog multiline issue
  docs/KnownIssues.md
Labels: documentation
