Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-10, with the labels that each got.

#742 feat: use /etc/otelcol-sumo/ as default systemd config directory and add uninstallation
  .github/workflows/pull_requests.yml
  examples/sumologic.yaml
  examples/systemd/otelcol-sumo.service
  scripts/install.sh
Labels: github_actions, Skip Changelog

#739 test: init install script tests
  .github/workflows/pull_requests.yml
  pkg/scripts_test/Makefile
  pkg/scripts_test/go.mod
  pkg/scripts_test/go.sum
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: github_actions, go, Skip Changelog

#747 docs: update Sumo help links
  docs/Configuration.md
  docs/Installation.md
  docs/Migration.md
  docs/OpenTelemetryConcepts.md
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
Labels: documentation, go, Skip Changelog

#746 chore(deps): bump go-boringcrypto to 1.18.7b7
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  CHANGELOG.md
  Dockerfile_dev_fips
Labels: documentation, github_actions

#693 feat(build): validate FIPS mode at build time and runtime
  CHANGELOG.md
  otelcolbuilder/.gitignore
  otelcolbuilder/cmd/fips.go
Labels: documentation, go

#751 feat(scripts/install.sh): do not allow to set collector name
  .gitignore
  examples/sumologic.yaml
  scripts/install.sh
Labels: Skip Changelog

#753 feat(scripts/install.sh): remove unwanted arguments
  scripts/install.sh
Labels: Skip Changelog

#754 feat(scripts/install.sh): rename FILE_STORAGE to SUMOLOGIC_FILE_STORAGE
  examples/sumologic.yaml
Labels: Skip Changelog

#761 feat(scripts/install.sh): update default configuration links
  scripts/install.sh
Labels: Skip Changelog

#760 feat(scripts/install.sh): validate arguments against user configuration
  pkg/scripts_test/.gitignore
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/config.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#763 docs(installation): document install script features
  docs/Installation.md
  pkg/scripts_test/check.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: documentation, go, Skip Changelog

#764 feat(scripts/install.sh): add --download-only option
  docs/Installation.md
  pkg/scripts_test/command.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: documentation, go, Skip Changelog

#765 docs(scripts/install.sh): use otelcol-sumo as default user
  docs/Installation.md
  examples/ansible/install_sumologic_otel_collector.yaml
  examples/ansible/templates/systemd_service.j2
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/modules/install_otel_collector/files/systemd_service
  examples/puppet/modules/install_otel_collector/manifests/init.pp
  examples/systemd/otelcol-sumo.service
  scripts/install.sh
Labels: documentation, Skip Changelog

#766 feat(scripts/install.sh): update links to configuration
  scripts/install.sh
Labels: Skip Changelog

#770 chore(sumologicexporter): rename config errors
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/config_test.go
Labels: go, Skip Changelog

#768 docs(upgrading): fix lint
  .github/workflows/pull_requests.yml
  .markdownlint/style.json
  .markdownlint/style.rb
  docs/Upgrading.md
Labels: documentation, github_actions, Skip Changelog

#686 feat(sumologicexporter): remove setting source headers
  CHANGELOG.md
  otelcolbuilder/cmd/testdata/telegrafreceiver_sumologicexporter_endpoint.yaml
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/factory.go
  pkg/exporter/sumologicexporter/factory_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
  pkg/exporter/sumologicexporter/source_format.go
  pkg/exporter/sumologicexporter/source_format_test.go
Labels: documentation, go

#773 fix: fix default configuration
  examples/sumologic.yaml
Labels: Skip Changelog

#779 feat(scripts/install.sh): add --config-branch option
  scripts/install.sh
Labels: Skip Changelog

#780 feat(scripts/install.sh): add --binary-branch option
  scripts/install.sh
Labels: Skip Changelog

#788 fix(scripts_test): use /var/lib/otelcol-sumo as home directory
  scripts/install.sh
Labels: Skip Changelog

#787 fix(scripts_test): fix sed for bash3
  scripts/install.sh
Labels: Skip Changelog

#783 feat(examples/sumologic.yaml): add sumologic_schema processor
  examples/sumologic.yaml
Labels: Skip Changelog

#789 fix: cannot create credentials directory
  examples/sumologic.yaml
Labels: Skip Changelog

#784 feat(scripts/install.sh): restart systemd service after upgrade
  scripts/install.sh
Labels: Skip Changelog

#786 fix(scripts/install.sh): remove user only if getent command is available
  scripts/install.sh
Labels: Skip Changelog

#782 feat(scripts/install.sh): add --branch option
  scripts/install.sh
Labels: Skip Changelog

#791 docs: simplify Docker run instructions
  docs/Installation.md
Labels: documentation, Skip Changelog

#795 fix(scripts/install.sh): don't use sudo
  docs/Installation.md
  scripts/install.sh
Labels: documentation, Skip Changelog

#797 fix(scripts/install.sh): use the right GHA artifact link
  scripts/install.sh
Labels: Skip Changelog

#796 feat(scripts/install.sh): do not prompt user for confirmation
  pkg/scripts_test/command.go
  pkg/scripts_test/install_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#792 feat(examples): use the install script in Ansible playbook
  examples/ansible/README.md
  examples/ansible/install_sumologic_otel_collector.yaml
  examples/ansible/templates/systemd_service.j2
  examples/ansible/vars/default.yaml
Labels: documentation, Skip Changelog

#794 feat(examples): use install script in Puppet module
  examples/puppet/README.md
  examples/puppet/manifests/install_otel_collector.pp
  examples/puppet/modules/install_otel_collector/files/systemd_service
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: documentation, Skip Changelog

#793 feat(examples): use install script in Chef recipe
  examples/chef/README.md
  examples/chef/sumologic-otel-collector/files/conf/empty.yaml
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  vagrant/provision.sh
Labels: documentation, Skip Changelog

#803 docs: update install command
  docs/Installation.md
Labels: documentation, Skip Changelog

#804 Fix dev binary downloads and add retries for curl calls in install script
  scripts/install.sh
Labels: Skip Changelog

#802 feat(examples): add resource processor to base config
  examples/sumologic.yaml
Labels: Skip Changelog
