Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2022-07, with the labels that each got.

#645 chore(ci): add step to debug release pipeline
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#646 Fixes in release pipeline
  .github/workflows/release_builds.yml
  otelcolbuilder/.gon_config_amd64_fips.json
  otelcolbuilder/.gon_config_arm64_fips.json
  otelcolbuilder/Makefile
Labels: github_actions, Skip Changelog

#647 chore(ci): add steps that must be completed to push manifests and publish release
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#653 chore(FIPS): add dev Dockerfile with Go+BoringSSL
  .github/workflows/dev_builds.yml
  Dockerfile_dev_fips
  Makefile
Labels: github_actions, Skip Changelog

#659 fix(sumologicexporter): translate Telegraf metrics with OTLP format
  CHANGELOG.md
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
Labels: documentation, go

#660 feat(sumologicexporter): do not send empty OTLP requests
  CHANGELOG.md
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
Labels: documentation, go

#661 feat(sumologicexporter): do not retry on '400 Bad Request' response
  CHANGELOG.md
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#655 chore: upgrade OpenTelemetry Core to v0.55.0
  CHANGELOG.md
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  docs/Upgrading.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/testdata/filterprocessor_logs.yaml
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#665 fix: fix deprecation warning
  otelcolbuilder/.otelcol-builder.yaml
Labels: Skip Changelog

#666 chore(k8sprocessor): add debug logs
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor.go
Labels: go, Skip Changelog

#668 fix(k8sprocessor): only apply the node filter to Pods
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/fake_owner.go
Labels: documentation, go

#624 docs(installation): add separate verification section and automatic installation
  docs/Configuration.md
  docs/Installation.md
  examples/config_cpu_load_metrics.yaml
  examples/verify_installation.yaml
  images/live_tail.png
  scripts/install.sh
Labels: documentation, Skip Changelog

#674 chore: upgrade OpenTelemetry Core to v0.56.0
  CHANGELOG.md
  README.md
  docs/Configuration.md
  docs/KnownIssues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#673 docs(release): update release instruction with milestone tasks
  docs/release.md
Labels: documentation, Skip Changelog

#676 chore: release v0.56.0-sumo-0
  CHANGELOG.md
Labels: documentation, Skip Changelog

#677 chore: post-release
  CHANGELOG.md
Labels: documentation, Skip Changelog

#679 docs: update release guide with adding `unreleased` section
  docs/release.md
Labels: documentation, Skip Changelog
