Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-02, with the labels that each got.

#919 test(rawk8seventsreceiver): fix flaky test
  pkg/receiver/rawk8seventsreceiver/receiver_test.go
Labels: go, Skip Changelog

#918 feat(sumologicextension): use hostname as default collector name
  CHANGELOG.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
Labels: documentation, go

#920 fix(scripts/install.sh): config dir permissions
  pkg/scripts_test/consts.go
  scripts/install.sh
Labels: go, Skip Changelog

#924 fix(scripts/install.sh): only require unzip when necessary
  scripts/install.sh
Labels: Skip Changelog

#925 fix(scripts/install.sh) don't use bc
  scripts/install.sh
Labels: Skip Changelog

#874 feat: report attributes as fields
  CHANGELOG.md
  pkg/processor/sumologicschemaprocessor/README.md
  pkg/processor/sumologicschemaprocessor/config.go
  pkg/processor/sumologicschemaprocessor/config_test.go
  pkg/processor/sumologicschemaprocessor/log_fields_conversion_processor.go
  pkg/processor/sumologicschemaprocessor/processor.go
  pkg/processor/sumologicschemaprocessor/processor_test.go
  pkg/processor/sumologicschemaprocessor/testdata/config.yaml
Labels: documentation, go

#927 feat(scripts/install.sh): require --yes for uninstallation
  pkg/scripts_test/command.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#928 fix(scripts/install.sh): don't try to install echo
  scripts/install.sh
Labels: Skip Changelog

#929 fix(scripts/install.sh): empty array expansion on old bash versions
  scripts/install.sh
Labels: Skip Changelog

#926 feat(scripts/install.sh): don't pass install token via command line
  docs/installation.md
  examples/ansible/install_sumologic_otel_collector.yaml
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/modules/install_otel_collector/manifests/init.pp
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: documentation, go, Skip Changelog

#931 fix(ci): fix failing devbuilds
  ci/build-push-multiplatform.sh
  ci/push_docker_multiplatform_manifest.sh
Labels: Skip Changelog

#930 fix(examples): don't bind health check endpoint to 0.0.0.0
  examples/sumologic.yaml
Labels: Skip Changelog

#935 chore: add v0.70.0-sumo-1 to changelog
  CHANGELOG.md
Labels: documentation, Skip Changelog

#939 test(scripts/install.sh): disable FIPS version test
  pkg/scripts_test/install_linux_amd64_test.go
Labels: go, Skip Changelog

#942 Revert "chore(otelcolbuilder): move deprecated CLI options to otelcol-builder.yaml"
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
Labels: Skip Changelog

#938 fix(k8sprocessor): race condition when getting Pod data
  CHANGELOG.md
  pkg/processor/k8sprocessor/client_test.go
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/processor.go
Labels: documentation, go

#943 [Backport v0.70.0] Revert "chore(otelcolbuilder): move deprecated CLI options to otelcol-builder.yaml"
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
Labels: documentation

#944 feat(sourceprocessor): add debug logs for source category filler
  CHANGELOG.md
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/source_category_filler.go
  pkg/processor/sourceprocessor/source_category_filler_test.go
  pkg/processor/sourceprocessor/source_processor.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: documentation, go

#945 feat(snmpreceiver): add SNMP receiver to the distro
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#948 chore(build): don't set elasticsearch receiver feature flags
  otelcolbuilder/cmd/configprovider.go
Labels: go, Skip Changelog

#949 chore: remove unnecessary mod replaces
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
Labels: Skip Changelog

#946 chore: add v0.70.0-sumo-2 to the changelog
  CHANGELOG.md
Labels: documentation, Skip Changelog

#933 Sign the collector's Windows binary and MSI package
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#947 Revert "test(scripts/install.sh): disable FIPS version test"
  pkg/scripts_test/install_linux_amd64_test.go
Labels: go, Skip Changelog

#936 Syslog exporter/forwarder - this forwarder has been tested with an rsyslog server and the sumologic cloud syslog source
  otelcolbuilder/.otelcol-builder.yaml
  pkg/exporter/syslogexporter/Makefile
  pkg/exporter/syslogexporter/README.md
  pkg/exporter/syslogexporter/config.go
  pkg/exporter/syslogexporter/config_test.go
  pkg/exporter/syslogexporter/examples/config.yaml
  pkg/exporter/syslogexporter/exporter.go
  pkg/exporter/syslogexporter/exporter_test.go
  pkg/exporter/syslogexporter/factory.go
  pkg/exporter/syslogexporter/factory_test.go
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/exporter/syslogexporter/syslog.go
  pkg/exporter/syslogexporter/syslog_test.go
Labels: documentation, go, Skip Changelog

#953 feat(scripts/install.sh): add information after uninstallation
  pkg/scripts_test/check.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#955 docs(changelog): add information about adding syslog exporter
  CHANGELOG.md
Labels: documentation

#954 feat(scripts/install): do not try to create home dir if it already exists
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/common.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#950 feat(sourceprocessor): make container name attribute configurable
  CHANGELOG.md
  pkg/processor/sourceprocessor/README.md
  pkg/processor/sourceprocessor/config.go
  pkg/processor/sourceprocessor/config_test.go
  pkg/processor/sourceprocessor/factory.go
  pkg/processor/sourceprocessor/source_category_filler.go
  pkg/processor/sourceprocessor/source_processor_test.go
Labels: documentation, go

#957 feat(syslogexporter): add support for endpoint set to IP address
  pkg/exporter/syslogexporter/README.md
  pkg/exporter/syslogexporter/config.go
  pkg/exporter/syslogexporter/config_test.go
Labels: documentation, go, Skip Changelog

#959 docs: remove redundant information from the changelog
  CHANGELOG.md
Labels: documentation

#956 fix(syslogexporter) remove drop_invalid_messages parameter from example config
  pkg/exporter/syslogexporter/examples/config.yaml
Labels: Skip Changelog

#958 chore: update OT core to v0.71.0
  CHANGELOG.md
  README.md
  docs/best-practices.md
  docs/fips.md
  docs/known-issues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/Makefile
  otelcolbuilder/cmd/configprovider.go
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/scripts_test/install_unix_test.go
Labels: documentation, go

#961 chore: prepare v0.71.0-sumo-0 release
  CHANGELOG.md
Labels: documentation, Skip Changelog

#962 ci: fix Windows signing step
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#951 test: enable race detection in Go tests
  pkg/Makefile.Common
  pkg/processor/cascadingfilterprocessor/idbatcher/id_batcher_test.go
  pkg/processor/cascadingfilterprocessor/processor_test.go
  pkg/receiver/rawk8seventsreceiver/receiver_test.go
Labels: go, Skip Changelog

#960 feat(scripts/install): use sed instead of xargs
  scripts/install.sh
Labels: Skip Changelog

#966 feat(sumologic.yaml): expose prometheus metrics on localhost
  examples/sumologic.yaml
Labels: Skip Changelog

#941 feat(script)!: be consistent with installation token naming
  CHANGELOG.md
  docs/configuration.md
  docs/installation.md
  docs/upgrading.md
  examples/ansible/README.md
  examples/ansible/install_sumologic_otel_collector.yaml
  examples/chef/README.md
  examples/chef/sumologic-otel-collector/recipes/default.rb
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/config_cpu_load_metrics.yaml
  examples/puppet/README.md
  examples/puppet/manifests/install_otel_collector.pp
  examples/puppet/modules/install_otel_collector/manifests/init.pp
  examples/sumologic-windows.yaml
  examples/sumologic.yaml
  examples/verify_installation.yaml
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/Config.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/ConfigUpdater.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/CustomAction.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/ConfigUpdaterTests.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/with-extensions-block.yaml
  packaging/msi/wix/components.wxs
  packaging/msi/wix/package.en-us.wxl
  packaging/msi/wix/package.wxs
  packaging/msi/wix/ui/appdata-dir-dlg.wxs
  pkg/extension/sumologicextension/config.go
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: documentation, go

#972 refactor(scripts/install): do not expose token in sed command
  scripts/install.sh
Labels: Skip Changelog

#973 docs: remove uppercase docs files
  docs/BestPractices.md
  docs/Comparison.md
  docs/Configuration.md
  docs/Installation.md
  docs/KnownIssues.md
  docs/Migration.md
  docs/OpenTelemetryConcepts.md
  docs/Performance.md
  docs/Troubleshooting.md
  docs/Upgrading.md
  docs/UpstreamRelation.md
Labels: documentation, Skip Changelog

#964 feat(scripts/install):do not fail if unable to get available versions
  scripts/install.sh
Labels: Skip Changelog

#976 feat(scripts/install.sh): show link to changelog instead of full changelog
  scripts/install.sh
Labels: Skip Changelog

#969 feat(sumologicextension): deprecate install_token in favor of installation_token
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/extension/opampextension/README.md
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/factory_test.go
  pkg/extension/sumologicextension/testdata/config.yaml
Labels: documentation, go

#977 feat(scripts/install.sh): print info about breaking changes
  scripts/install.sh
Labels: Skip Changelog

#981 docs(sumologicextension): add example of time_zone usage and fix column names that one should refer to
  pkg/extension/sumologicextension/README.md
Labels: documentation

#982 fix: do not expose installation token
  scripts/install.sh
Labels: Skip Changelog

#984 docs: add link to syslogexporter in README
  README.md
Labels: documentation, Skip Changelog

#980 feat(syslogexporter): add mTLS support
  CHANGELOG.md
  pkg/exporter/syslogexporter/README.md
  pkg/exporter/syslogexporter/config.go
  pkg/exporter/syslogexporter/examples/config.yaml
  pkg/exporter/syslogexporter/examples/config_with_token.yaml
  pkg/exporter/syslogexporter/exporter.go
Labels: documentation, go

#967 Fix environment install token
  examples/chef/sumologic-otel-collector/resources/default.rb
  scripts/install.sh
Labels: Skip Changelog

#988 docs: add information how to use environmental variables in systemd
  docs/installation.md
Labels: documentation, Skip Changelog

#985 fix: ensure correct permissions for hostmetrics after upgrade
  pkg/scripts_test/check.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#990 feat(scripts/install.sh): be more descriptive about missing setfacl
  scripts/install.sh
Labels: Skip Changelog

#983 feat(syslogexporter): add option to skip certificate verfication
  CHANGELOG.md
  pkg/exporter/syslogexporter/README.md
  pkg/exporter/syslogexporter/config.go
  pkg/exporter/syslogexporter/examples/config.yaml
  pkg/exporter/syslogexporter/examples/config_with_token.yaml
  pkg/exporter/syslogexporter/exporter.go
  pkg/exporter/syslogexporter/factory_test.go
Labels: documentation, go

#974 feat: trigger remote packaging workflow
  .github/workflows/dev_builds.yml
  ci/get_productversion.sh
  ci/get_version.sh
Labels: github_actions, Skip Changelog

#989 chore(syslogexporter): remove not used fields from structs
  pkg/exporter/syslogexporter/exporter.go
  pkg/exporter/syslogexporter/syslog.go
Labels: go, Skip Changelog

#986 fix(syslogexporter): validate all inputs at once and add display all error messages
  pkg/exporter/syslogexporter/config.go
  pkg/exporter/syslogexporter/config_test.go
  pkg/exporter/syslogexporter/exporter.go
  pkg/exporter/syslogexporter/utils.go
  pkg/exporter/syslogexporter/utils_test.go
Labels: go, Skip Changelog

#1007 docs(installation): fix MacOS arm64 architecture name
  docs/installation.md
Labels: documentation, Skip Changelog

#1006 fix(scripts/install): ignore errors from semanage installation
  scripts/install.sh
Labels: Skip Changelog

#921 chore: use go dns for all binaries
  otelcolbuilder/Makefile
Labels: Skip Changelog

#978 Add resourcedetection/system to the MSI sumologic-windows.yaml
  examples/sumologic-windows.yaml
Labels: Skip Changelog

#1008 fix: decrease display-workflow-run-url-interval
  .github/workflows/dev_builds.yml
Labels: github_actions, Skip Changelog

#1011 chore: bump golang to 1.19
  .circleci/config.yml
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  .golangci.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Dockerfile_dev_fips
  Makefile
  otelcolbuilder/Makefile
  pkg/Makefile.Common
  pkg/configprovider/globprovider/go.mod
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/syslogexporter/go.mod
  pkg/extension/opampextension/go.mod
  pkg/extension/sumologicextension/go.mod
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.mod
  pkg/scripts_test/go.mod
  pkg/test/go.mod
  vagrant/provision.sh
Labels: documentation, github_actions

#1014 fix(ci): use build-push-container-multiplatform-dev for fips
  .github/workflows/dev_builds.yml
Labels: github_actions, Skip Changelog

#1016 feat: add missing OpenTelemetry components
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1017 feat(sumologicexporter): use otlp url suffixes
  CHANGELOG.md
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/exporter_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#1015 chore: prepare v0.72.0
  CHANGELOG.md
Labels: documentation, do-not-merge/hold, Skip Changelog

#1018 chore: fix windows release build
  .github/workflows/release_builds.yml
Labels: github_actions, Skip Changelog

#1010 docs(migration): fix UDP, TCP receiver names
  docs/migration.md
Labels: documentation, Skip Changelog

#1019 chore: post-release
  CHANGELOG.md
Labels: documentation

#992 feat: keep token in env variable instead of config file
  pkg/scripts_test/check.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/go.mod
  pkg/scripts_test/go.sum
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#1020 fix(sumologicexporter): fix links to upgrade docs
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/config_test.go
Labels: go, Skip Changelog

#1024 docs(installation): add windows section
  docs/installation.md
  images/windows_installation_0.png
  images/windows_installation_1.png
  images/windows_installation_2.png
  images/windows_installation_3.png
  images/windows_installation_4.png
  images/windows_installation_5.png
  images/windows_installation_6.png
Labels: documentation, Skip Changelog

#971 feat: rename install_token to installation token
  docs/comparison.md
  docs/configuration.md
  docs/installation.md
  docs/migration.md
  docs/upgrading.md
  examples/config_cpu_load_metrics.yaml
  examples/sumologic-windows.yaml
  examples/sumologic.yaml
  examples/verify_installation.yaml
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/ConfigUpdater.cs
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/CustomAction.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/ConfigUpdaterTests.cs
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/with-extensions-block.yaml
  packaging/msi/wix/assets/common.yaml
  packaging/msi/wix/package.wxs
  pkg/scripts_test/config.go
  scripts/install.sh
Labels: documentation, go, Skip Changelog
