Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-03, with the labels that each got.

#1022 Fixed `make install-builder` when home path includes a space (" ") etc.
  otelcolbuilder/Makefile
Labels: Skip Changelog

#1027 feat: enable `extension.sumologic.updateCollectorMetadata` feature gate by default
  otelcolbuilder/cmd/configprovider.go
Labels: go, Skip Changelog

#1025 doc(comparison.md): OTEL now has windows support
  docs/comparison.md
Labels: documentation, Skip Changelog

#1026 feat: add scripts/install.ps1
  scripts/install.ps1
Labels: Skip Changelog

#1031 docs(comparison): change reference to translating telegraf attributes
  docs/comparison.md
Labels: documentation, Skip Changelog

#1028 docs(migration): update information about local file source
  docs/migration.md
Labels: documentation, Skip Changelog

#1030 docs(migration): use source processor for source properties
  docs/migration.md
Labels: documentation, Skip Changelog

#1036 feat(scripts/install.sh): expose timeout configuration
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/common.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#1038 docs(migration): exclude common configuration to separate section
  docs/migration.md
Labels: documentation, Skip Changelog

#1039 docs(sumologicexporter): update examples
  pkg/exporter/sumologicexporter/README.md
Labels: documentation, Skip Changelog

#1040 fix(windows): do not expose healthcheck on 0.0.0.0 in default configu…
  examples/sumologic-windows.yaml
Labels: Skip Changelog

#1041 chore(docs): clean up usecases around FIPS, ARM or Windows
  docs/comparison.md
Labels: documentation

#1037 docs: change `logLevel` to `loglevel` for Logging exporter
  docs/comparison.md
  examples/config_logging.yaml
  examples/logs_json/config.yaml
  pkg/extension/sumologicextension/testdata/config.yaml
Labels: documentation, Skip Changelog

#1034 Windows MSI install host metrics collection
  examples/conf.d/windows.yaml
  packaging/msi/wix/components.wxs
  packaging/msi/wix/package.wxs
  packaging/msi/wix/ui/otelcol-sumo.wxs
Labels: Skip Changelog

#1035 Added install host metrics to windows powershell install script
  scripts/install.ps1
Labels: Skip Changelog

#1045 chore: prepare release v0.72.0-sumo-1
  CHANGELOG.md
Labels: documentation

#1047 chore: fix release date for v0.72.0-sumo-1
  CHANGELOG.md
Labels: documentation

#1049 chore: prepare release v0.73.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1051 docs(migration): fix typo in Remote File Source details
  docs/migration.md
Labels: documentation, Skip Changelog

#1053 docs(migration): extract source category and fields to common section
  docs/migration.md
Labels: documentation, Skip Changelog

#1054 docs(migration): extract source host to common configuration
  docs/migration.md
Labels: documentation, Skip Changelog

#1042 docs(migration): update info about docker stats source
  docs/migration.md
Labels: documentation, Skip Changelog

#1058 fix: fix carbon2 parser for telegrafreceiver
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
  pkg/scripts_test/check.go
Labels: documentation, go

#1050 docs(migration): add missing Collector and Local File Source details
  docs/configuration.md
  docs/migration.md
Labels: documentation, Skip Changelog

#1033 docs(syslog): migration doc edits for syslog source
  docs/migration.md
Labels: documentation, Skip Changelog

#1060 chore(scripts/install.sh): increase default download timeout to 300s
  scripts/install.sh
Labels: Skip Changelog

#1061 fix(scripts/install.ps1): treat app as not installed if otelcol-sumo.exe is missing
  CHANGELOG.md
  scripts/install.ps1
Labels: documentation

#1064 docs: add --install-hostmetrics -H flags to install script documentation
  docs/installation.md
Labels: documentation, Skip Changelog

#1057 fix(sumologicextension)!: use fqdn before os.Hostname
  CHANGELOG.md
  docs/upgrading.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
Labels: documentation, go

#1066 docs(migration): update info about local windows event source
  docs/migration.md
Labels: documentation, Skip Changelog

#1056 [syslogexporter] set defaults for sending_queue and retry_on_failure and fix errors reported by golangci-lint
  CHANGELOG.md
  pkg/exporter/syslogexporter/config.go
  pkg/exporter/syslogexporter/exporter.go
  pkg/exporter/syslogexporter/exporter_test.go
  pkg/exporter/syslogexporter/factory.go
  pkg/exporter/syslogexporter/factory_test.go
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/syslog.go
  pkg/exporter/syslogexporter/utils.go
  pkg/exporter/syslogexporter/utils_test.go
Labels: documentation, go

#1068 docs(syslogexporter) change stability level in README.md
  pkg/exporter/syslogexporter/README.md
Labels: documentation, Skip Changelog

#1069 chore: prepare v0.73.0-sumo-1 release
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation

#1067 docs(migration): update info about local windows event source
  docs/migration.md
Labels: documentation, Skip Changelog

#1059 docs(migration): update streaming source documentation
  docs/migration.md
Labels: documentation, Skip Changelog

#1072 docs(migration): update docker logs source (dockerlog)
  docs/migration.md
Labels: documentation, Skip Changelog

#1071 feat(scripts/install.sh): be more informative for failed config download
  scripts/install.sh
Labels: Skip Changelog

#1070 docs(migration): update common parameters for local config file
  docs/migration.md
Labels: documentation, Skip Changelog

#1076 fix(scripts/install.sh): handle -H properly
  scripts/install.sh
Labels: Skip Changelog

#1074 docs(migration): fix links
  docs/migration.md
Labels: documentation, Skip Changelog

#1082 docs(troubleshooting): add info how to access logs on windows
  docs/troubleshooting.md
Labels: documentation, Skip Changelog

#1077 docs: get install script from latest release
  docs/installation.md
  examples/chef/sumologic-otel-collector/resources/default.rb
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: documentation, Skip Changelog

#1084 docs(migration): fix outdated paragraph links
  docs/migration.md
Labels: documentation, Skip Changelog

#1087 fix(sumologicexporter): Prometheus histogram metric names
  CHANGELOG.md
  pkg/exporter/sumologicexporter/prometheus_formatter.go
  pkg/exporter/sumologicexporter/prometheus_formatter_test.go
Labels: documentation, go

#1088 docs: update state otel version
  docs/best-practices.md
  docs/installation.md
Labels: documentation, Skip Changelog

#1089 chore: upgrade OT core to 0.74.0
  CHANGELOG.md
  README.md
  docs/known-issues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/configprovider.go
  otelcolbuilder/cmd/flags.go
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/sumologicexporter/internal/observability/observability.go
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/cascadingfilterprocessor/metrics.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#1091 chore: add new components
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1092 chore: prepare v0.74.0-sumo-0 release
  CHANGELOG.md
Labels: documentation
