Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-09, with the labels that each got.

#1225 feat(sumologicextension)!: remove support for install_token
  CHANGELOG.md
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/factory_test.go
Labels: documentation, go

#1234 chore: fix `make update-ot` in MacOS
  Makefile
Labels: skip-changelog

#1237 chore: prepare release v0.84.0-sumo-0
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation

#1227 Add monitoringjob receiver component outline
  pkg/receiver/jobreceiver/Makefile
  pkg/receiver/jobreceiver/README.md
  pkg/receiver/jobreceiver/asset/config.go
  pkg/receiver/jobreceiver/builder/config.go
  pkg/receiver/jobreceiver/config.go
  pkg/receiver/jobreceiver/config_test.go
  pkg/receiver/jobreceiver/factory.go
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/jobreceiver/output/config.go
  pkg/receiver/jobreceiver/output/consumer/consumer.go
  pkg/receiver/jobreceiver/output/event/config.go
  pkg/receiver/jobreceiver/output/logentries/config.go
  pkg/receiver/jobreceiver/runner.go
  pkg/receiver/jobreceiver/testdata/config.yaml
  pkg/receiver/jobreceiver/testdata/usage.yaml
Labels: documentation, go, skip-changelog

#1239 chore: fix racey test case in rawk8seventsreceiver
  pkg/receiver/rawk8seventsreceiver/receiver_test.go
Labels: go, skip-changelog

#1243 🔄 synced file(s) with Sanyaku/apps
  examples/conf.d/darwin.yaml
  examples/conf.d/linux.yaml
  examples/conf.d/windows.yaml
Labels: sync

#1247 chore: update otelcol core to v0.85.0
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/jobreceiver/config_test.go
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/jobreceiver/output/logentries/config.go
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#1248 chore: prepare release v0.85.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1249 fix(install.sh): ensure selinux records are created
  CHANGELOG.md
  pkg/scripts_test/check_linux.go
  pkg/scripts_test/common.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: documentation, go

#1250 docs(configuration): fix setting `_sourceName` on logs
  docs/configuration.md
Labels: documentation, skip-changelog

#1252 fix main options names for accept and reject policies
  pkg/processor/cascadingfilterprocessor/README.md
Labels: documentation, skip-changelog

#1253 Update README.md to fix Issue #1251
  README.md
Labels: documentation, skip-changelog

#1255 docs(exporter/sumologic): add default for `decompose_otlp_histograms`
  pkg/exporter/sumologicexporter/README.md
Labels: documentation

#1240 feat(jobreceiver): Implement the command package
  pkg/receiver/jobreceiver/command/command.go
  pkg/receiver/jobreceiver/command/command_test.go
  pkg/receiver/jobreceiver/command/exec_linux.go
  pkg/receiver/jobreceiver/command/exec_unix.go
  pkg/receiver/jobreceiver/command/exec_windows.go
  pkg/receiver/jobreceiver/output/consumer/consumer.go
  pkg/receiver/jobreceiver/runner.go
  pkg/receiver/jobreceiver/testdata/usage.yaml
Labels: go, skip-changelog

#1257 chore(ci): build fips binary w/glibc 2.26
  .github/workflows/workflow-build.yml
  CHANGELOG.md
  ci/build-fips-action/Dockerfile
  ci/build-fips-action/action.yml
  ci/build-fips-action/entrypoint.sh
  otelcolbuilder/Makefile
Labels: documentation, github_actions
