Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-04, with the labels that each got.

#1075 docs(migration): update hostmetrics source migration
  docs/migration.md
Labels: documentation, Skip Changelog

#1097 chore: use `skip-changelog` label instead of `Skip Changelog`
  .github/dependabot.yml
  .github/workflows/changelog.yaml
Labels: github_actions, skip-changelog

#1098 chore(build): remove unnecessary replace
  otelcolbuilder/.otelcol-builder.yaml
Labels: skip-changelog

#1101 docs: switch to hostmetrics receiver in the configuration examples
  docs/configuration.md
Labels: documentation, skip-changelog

#1104 chore: prepare release v0.75.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1105 docs: update collector version to v0.75.0
  docs/best-practices.md
  docs/fips.md
  docs/installation.md
  docs/migration.md
  docs/release.md
  docs/upstream-relation.md
Labels: documentation, skip-changelog

#1107 install script, include log dir acl default group
  scripts/install.sh
Labels: skip-changelog

#1083 docs: remove duplicates of help.sumologic.com
  Makefile
  README.md
  docs/README.md
  docs/best-practices.md
  docs/fips.md
  docs/installation.md
  docs/known-issues.md
  docs/open-telemetry-concepts.md
  docs/troubleshooting.md
  docs/upstream-relation.md
Labels: documentation, skip-changelog

#1111 fixed puppet module, it was not in a working state
  examples/puppet/modules/install_otel_collector/files/conf.d/.keep
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: skip-changelog

#1112 chore: upgrade otel core to 0.76.1
  CHANGELOG.md
  README.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#1113 fix: add lokireceiver back after accidental removal
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation, skip-changelog

#1116 fix: missing components
  otelcolbuilder/.otelcol-builder.yaml
Labels: skip-changelog

#1115 ci(plugins-check): ignore patch versions
  ci/plugins_check.sh
Labels: skip-changelog

#1108 Configuration management release assets
  .github/workflows/release_builds.yml
Labels: github_actions, skip-changelog
