Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-08, with the labels that each got.

#1208 fix: bump vulnerable go-restful@v2.9.5+incompatible
  CHANGELOG.md
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
Labels: documentation

#1209 chore: prepare release v0.82.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1210 chore: change Mac signing username to otel-mac-certs
  otelcolbuilder/Makefile
Labels: skip-changelog

#1211 chore: post-release v0.82.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1212 chore(ci): Remove Included Modules Report from CI
  .github/workflows/release_builds.yml
  .github/workflows/workflow-build.yml
Labels: github_actions, skip-changelog

#1222 chore: prepare v0.83.0 release
  CHANGELOG.md
Labels: documentation

#1223 feat(receiver/sqlquery): go back to using upstream receiver
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation, skip-changelog

#1229 fix(chef): Change the readme path for the chef cookbook
  examples/chef/sumologic-otel-collector/README.md
  examples/chef/sumologic-otel-collector/metadata.rb
Labels: documentation, skip-changelog

#1224 docs: add package release instructions
  docs/release.md
Labels: documentation, skip-changelog

#1232 chore: switch to Node.js version of Markdownlint
  .github/workflows/pull_requests.yml
  .gitignore
  .markdownlint.jsonc
  .markdownlint/style.json
  .markdownlint/style.rb
  .vscode/extensions.json
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  docs/migration.md
  pkg/extension/opampextension/README.md
  vagrant/provision.sh
Labels: documentation, github_actions

#1228 feat(install.sh): prevent permission error when collecting host metrics
  CHANGELOG.md
  scripts/install.sh
Labels: documentation
