Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-10, with the labels that each got.

#1264 chore: update otelcol core to `v0.86.0`
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#1265 fix(extension/sumologic): send non-empty autodiscovery tag values
  CHANGELOG.md
  pkg/extension/sumologicextension/extension.go
Labels: documentation, go

#1268 feat: add `debug` exporter and `routing` connector
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1260 OpAMP agent type, version, and UID from collector resource and buildinfo
  CHANGELOG.md
  pkg/extension/opampextension/factory.go
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/opampextension/opamp_agent.go
  pkg/extension/opampextension/opamp_agent_test.go
Labels: documentation, go

#1262 OpAMP logger cleanup, zap sugar works now
  pkg/extension/opampextension/logger.go
  pkg/extension/opampextension/opamp_agent.go
Labels: go, skip-changelog

#1270 chore: prepare release `v0.86.0-sumo-0`
  CHANGELOG.md
Labels: documentation

#1256 fix(k8sprocessor): owner meta deletion grace period
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/fake_owner.go
  pkg/processor/k8sprocessor/kube/owner.go
  pkg/processor/k8sprocessor/kube/owner_test.go
  pkg/processor/k8sprocessor/processor_test.go
Labels: documentation, go

#1276 Declare globprovider module path correctly
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
Labels: skip-changelog

#1230 Add --opamp-config flag
  .pre-commit-config.yaml
  CHANGELOG.md
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/00_main.go.patch
  otelcolbuilder/cmd/01_main.go.patch
  otelcolbuilder/cmd/configprovider.go
  otelcolbuilder/cmd/flags.go
Labels: documentation, go

#1278 Handle DeletedFinalStateUnknown events form cache
  CHANGELOG.md
  pkg/processor/k8sprocessor/kube/client.go
  pkg/processor/k8sprocessor/kube/client_test.go
  pkg/processor/k8sprocessor/kube/owner.go
Labels: documentation, go

#1272 feat(jobreceiver): Implement monitoring job receiver
  pkg/receiver/jobreceiver/asset/config.go
  pkg/receiver/jobreceiver/asset/doc.go
  pkg/receiver/jobreceiver/asset/environment.go
  pkg/receiver/jobreceiver/asset/environment_posix.go
  pkg/receiver/jobreceiver/asset/environment_posix_test.go
  pkg/receiver/jobreceiver/asset/environment_test.go
  pkg/receiver/jobreceiver/asset/environment_windows.go
  pkg/receiver/jobreceiver/asset/environment_windows_test.go
  pkg/receiver/jobreceiver/asset/expander.go
  pkg/receiver/jobreceiver/asset/expander_test.go
  pkg/receiver/jobreceiver/asset/fetcher.go
  pkg/receiver/jobreceiver/asset/fetcher_test.go
  pkg/receiver/jobreceiver/asset/fixtures/helloworld.tar
  pkg/receiver/jobreceiver/asset/fixtures/helloworld.tar.gz
  pkg/receiver/jobreceiver/asset/fixtures/helloworld.tar.gz.sha512
  pkg/receiver/jobreceiver/asset/fixtures/helloworld.tar.sha512
  pkg/receiver/jobreceiver/asset/fixtures/invalid.tar
  pkg/receiver/jobreceiver/asset/fixtures/invalid.tar.gz
  pkg/receiver/jobreceiver/asset/fixtures/unsupported.zip
  pkg/receiver/jobreceiver/asset/integration_test.go
  pkg/receiver/jobreceiver/asset/manager.go
  pkg/receiver/jobreceiver/asset/reference.go
  pkg/receiver/jobreceiver/asset/verifier.go
  pkg/receiver/jobreceiver/asset/verifier_test.go
  pkg/receiver/jobreceiver/command/command_test.go
  pkg/receiver/jobreceiver/config.go
  pkg/receiver/jobreceiver/config_test.go
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/jobreceiver/internal/commandtest/command.go
  pkg/receiver/jobreceiver/output/consumer/consumer.go
  pkg/receiver/jobreceiver/output/event/config.go
  pkg/receiver/jobreceiver/output/event/handler.go
  pkg/receiver/jobreceiver/output/event/handler_test.go
  pkg/receiver/jobreceiver/output/logentries/config.go
  pkg/receiver/jobreceiver/output/logentries/handler.go
  pkg/receiver/jobreceiver/output/logentries/handler_test.go
  pkg/receiver/jobreceiver/receiver_test.go
  pkg/receiver/jobreceiver/runner.go
  pkg/receiver/jobreceiver/testdata/config.yaml
  pkg/receiver/jobreceiver/testdata/usage.yaml
Labels: go, skip-changelog

#1291 chore: prepare release `v0.87.0-sumo-0`
  CHANGELOG.md
Labels: documentation

#1269 ci: add fips build & msi for windows/amd64
  .github/workflows/dev_builds.yml
  .github/workflows/workflow-build.yml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/fips.go
  packaging/msi/wix/otelcol-sumo.wixproj
Labels: github_actions, go, skip-changelog

#1274 OpAMP load/save effective configuration using remote_configuration_directory
  CHANGELOG.md
  pkg/extension/opampextension/README.md
  pkg/extension/opampextension/config.go
  pkg/extension/opampextension/config_test.go
  pkg/extension/opampextension/factory.go
  pkg/extension/opampextension/factory_test.go
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/opampextension/opamp_agent.go
  pkg/extension/opampextension/opamp_agent_test.go
  pkg/extension/opampextension/testdata/config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-remote-config.yaml
Labels: documentation, go

#1293 docs(release): add building packages to release procedure
  docs/release.md
Labels: documentation, skip-changelog

#1292 feat(receiver/monitoringjob): add Monitoring Job receiver
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/jobreceiver/README.md
  pkg/receiver/jobreceiver/asset/fetcher.go
Labels: documentation, go

#1294 feat: add aws deployment examples
  .pre-commit-config.yaml
  examples/aws/README.md
  examples/aws/config.yaml
  examples/aws/ec2-deployment.yaml
  examples/aws/ecs-ec2-deployment.yaml
  examples/aws/ecs-fargate-deployment.yaml
Labels: documentation, skip-changelog

#1296 Bypass FQDN resolution in darwin tests
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_darwin_test.go
Labels: go, skip-changelog

#1299 chore: add make targets to install pre-commit
  Makefile
Labels: skip-changelog

#1298 chore: use Towncrier for Changelog management
  .changelog/1274.changed.txt
  .changelog/1292.added.txt
  .changelog/changelog_template.jinja
  .github/workflows/changelog.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  ci/add-changelog-entry.sh
  docs/release.md
  towncrier.toml
Labels: documentation, github_actions, skip-changelog

#1300 chore: update otelcol to `v0.88.0`
  .changelog/1300.changed.txt
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#1303 chore: prepare release `v0.88.0-sumo-0`
  .changelog/1274.changed.txt
  .changelog/1292.added.txt
  .changelog/1300.changed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog

#1304 docs(release): update instructions after introducing Towncrier
  docs/release.md
Labels: skip-changelog

#1302 chore: prepare v0.86.0-sumo-1
  CHANGELOG.md
Labels: documentation

#1305 docs: add v0.86.0-sumo-1 to changelog
  CHANGELOG.md
Labels: documentation, skip-changelog

#1307 chore: remove `multierr` package in favor of built-in `errors.Join`
  pkg/exporter/sumologicexporter/exporter.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: go, skip-changelog

#1287 feat(opamp): Add OpAmp configuration provider
  pkg/configprovider/opampprovider/Makefile
  pkg/configprovider/opampprovider/go.mod
  pkg/configprovider/opampprovider/go.sum
  pkg/configprovider/opampprovider/provider.go
  pkg/configprovider/opampprovider/provider_test.go
  pkg/configprovider/opampprovider/testdata/invalid-yaml.txt
  pkg/configprovider/opampprovider/testdata/missing_config_dir.yaml
  pkg/configprovider/opampprovider/testdata/multiple/first.yaml
  pkg/configprovider/opampprovider/testdata/multiple/junk.txt
  pkg/configprovider/opampprovider/testdata/multiple/second.yaml
  pkg/configprovider/opampprovider/testdata/valid.yaml
  pkg/configprovider/opampprovider/testdata/valid_windows.yaml
Labels: go, skip-changelog

#1313 chore: replace deprecated module go.opentelemetry.io/collector/model
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/kube/kube.go
  pkg/processor/k8sprocessor/pod_association.go
  pkg/processor/k8sprocessor/processor_test.go
  pkg/processor/sumologicschemaprocessor/cloud_namespace_processor.go
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
Labels: skip-changelog

#1311 fix logging in monitoring job receiver
  pkg/receiver/jobreceiver/output/logentries/handler.go
Labels: go, skip-changelog
