Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-01, with the labels that each got.

#886 chore: prepare release v0.68.0-sumo-0
  CHANGELOG.md
Labels: documentation

#887 chore: post-release v0.68.0-sumo-0
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation

#889 Fix metadata api update call, 204 is expected
  pkg/extension/sumologicextension/extension.go
Labels: bug, go, Skip Changelog

#891 chore: update OT core to 0.69.0
  CHANGELOG.md
  README.md
  docs/known-issues.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/configprovider.go
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/config.go
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/config.go
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#895 chore: release 0.69.0-sumo-0
  CHANGELOG.md
Labels: documentation

#892 Install script, semanage fixes on RHEL
  scripts/install.sh
Labels: bug, Skip Changelog

#897 fixed minor changelog typo for 0.69.0
  CHANGELOG.md
Labels: documentation

#893 Collector metadata tags auto-discovery (local services, e.g. mysql)
  CHANGELOG.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/config.go
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
Labels: documentation, go

#899 Added unzip to installer script check dependencies
  scripts/install.sh
Labels: Skip Changelog

#900 Install specific missing dependencies on specific platforms
  scripts/install.sh
Labels: Skip Changelog

#854 fix(build): remove enable_unstable tag
  otelcolbuilder/Makefile
Labels: Skip Changelog

#885 OpAMP Agent Extension
  CHANGELOG.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/extension/opampextension/Makefile
  pkg/extension/opampextension/README.md
  pkg/extension/opampextension/config.go
  pkg/extension/opampextension/config_test.go
  pkg/extension/opampextension/factory.go
  pkg/extension/opampextension/factory_test.go
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/opampextension/logger.go
  pkg/extension/opampextension/opamp-remote-config.yaml
  pkg/extension/opampextension/opamp_agent.go
  pkg/extension/opampextension/opamp_agent_test.go
  pkg/extension/opampextension/testdata/config.yaml
  pkg/extension/opampextension/testdata/opamp-remote-config.yaml
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: documentation, go

#903 fix(scripts/install.sh): always remove backup files
  pkg/scripts_test/check.go
  pkg/scripts_test/common.go
  scripts/install.sh
Labels: go, Skip Changelog

#904 fix(scripts/install.sh): increase download timeout
  scripts/install.sh
Labels: Skip Changelog

#905 test(scripts/install.sh): fix hostmetrics test
  pkg/scripts_test/check.go
  pkg/scripts_test/command.go
  pkg/scripts_test/common.go
  pkg/scripts_test/install_unix_test.go
Labels: go, Skip Changelog

#906 fix(scripts/install.sh) config file permissions and ownership
  pkg/scripts_test/check.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, Skip Changelog

#907 docs(sumologicexporter): add info about batching for otlp source
  pkg/exporter/sumologicexporter/README.md
Labels: documentation, Skip Changelog

#909 fix(install/script): config dir permissions
  pkg/scripts_test/check.go
  pkg/scripts_test/consts.go
  scripts/install.sh
Labels: go, Skip Changelog

#908 docs(best-practices.md): add recommended config for batching processor
  docs/best-practices.md
Labels: documentation, Skip Changelog

#910 fix(scripts/install.sh): use a safe dir for temp files
  scripts/install.sh
Labels: Skip Changelog

#917 chore: release v0.70.0-sumo-0
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation

#916 fix(examples): don't bind to 0.0.0.0 by default
  examples/sumologic-windows.yaml
  examples/sumologic.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/with-extensions-block.yaml
  packaging/msi/SumoLogic.wixext/SumoLogicTests/TestData/without-extensions-block.yaml
Labels: Skip Changelog
