Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-06, with the labels that each got.

#1150 docs: revert release v0.78.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1152 fix(sumologicextension): check credentials dir at start
  CHANGELOG.md
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs_test.go
Labels: documentation, go

#1151 Updated the Apple ID used for notary (also updated the secret)
  otelcolbuilder/.gon_config_amd64.json
  otelcolbuilder/.gon_config_arm64.json
Labels: skip-changelog

#1153 fix(sumoextension): skip credentials dir check if registration is forced
  CHANGELOG.md
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs.go
  pkg/extension/sumologicextension/credentials/credentialsstore_localfs_test.go
  pkg/extension/sumologicextension/credentials/store.go
  pkg/extension/sumologicextension/extension.go
Labels: documentation, go

#1154 docs(exporter/sumologic): update default value for queue_size
  pkg/exporter/sumologicexporter/README.md
Labels: documentation, skip-changelog

#1166 chore: prepare 0.79.0-sumo-0 release
  CHANGELOG.md
Labels: documentation

#1170 chore: update OT core to v0.80.0
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/Makefile.Common
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#1175 chore: don't disable pkg.translator.prometheus.NormalizeName by default
  otelcolbuilder/cmd/configprovider.go
Labels: go, skip-changelog

#1174 fix(sumologicexporter): don't send empty attributes
  CHANGELOG.md
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#1177 feat(sumologic.yaml): add Cloud Provider resource detection by default
  examples/sumologic.yaml
Labels: skip-changelog

#1180 fix(build): allow otel commands to be used
  .github/workflows/workflow-build.yml
  CHANGELOG.md
  otelcolbuilder/cmd/configprovider.go
Labels: documentation, github_actions, go

#1178 chore: add apps team as a reviewers of default config file
  .github/CODEOWNERS
Labels: github_actions, skip-changelog

#1182 chore: prepare 0.80.0-sumo-0 release
  CHANGELOG.md
Labels: documentation
