Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-07, with the labels that each got.

#1184 chore(packaging): wix 4.0.1
  CHANGELOG.md
  packaging/msi/SumoLogic.wixext/SumoLogic.wixext/SumoLogic.wixext.csproj
  packaging/msi/wix/folders.wxs
  packaging/msi/wix/otelcol-sumo.wixproj
  packaging/msi/wix/ui/otelcol-sumo.wxs
  packaging/msi/wix/variables.wxi
Labels: documentation

#1127 feat(scripts): update install.sh to use packages on macOS
  pkg/scripts_test/check.go
  pkg/scripts_test/check_darwin.go
  pkg/scripts_test/check_linux.go
  pkg/scripts_test/common.go
  pkg/scripts_test/common_darwin.go
  pkg/scripts_test/common_linux.go
  pkg/scripts_test/config.go
  pkg/scripts_test/consts.go
  pkg/scripts_test/consts_darwin.go
  pkg/scripts_test/consts_linux.go
  pkg/scripts_test/go.mod
  pkg/scripts_test/go.sum
  pkg/scripts_test/install_darwin_test.go
  pkg/scripts_test/install_unix_test.go
  pkg/scripts_test/launchd.go
  scripts/install.sh
Labels: go, skip-changelog

#1186 Fixed changelog release version links for 0.80.0 sumo-0 and sumo-1
  CHANGELOG.md
Labels: documentation

#1187 chore: update opentelemetry core and contrib to v0.81.0
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#1188 feat: update list of components
  .github/workflows/release_builds.yml
  .github/workflows/workflow-build.yml
  CHANGELOG.md
  README.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation, github_actions

#1191 chore: release v0.81.0-sumo-0
  CHANGELOG.md
Labels: documentation

#1192 chore: replace gon with codesign & notarytool
  .github/workflows/release_builds.yml
  .github/workflows/workflow-build.yml
  otelcolbuilder/.gon_config_amd64.json
  otelcolbuilder/.gon_config_arm64.json
  otelcolbuilder/Makefile
Labels: github_actions, skip-changelog

#1193 fix: typo in config.yaml file
  pkg/extension/sumologicextension/testdata/config.yaml
Labels: skip-changelog

#1194 fix: mute more errors when collecting host metrics
  examples/conf.d/linux.yaml
  examples/conf.d/windows.yaml
Labels: skip-changelog

#1195 feat: add single quotes around configuration keys
  pkg/scripts_test/install_darwin_test.go
  pkg/scripts_test/install_unix_test.go
  scripts/install.sh
Labels: go, skip-changelog

#1197 feat(sumologicexporter): add option to decompose OTLP Histograms
  CHANGELOG.md
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/otlp.go
  pkg/exporter/sumologicexporter/otlp_test.go
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#1198 chore(sumologicextenstion): log metadata update errors
  pkg/extension/sumologicextension/extension.go
Labels: go, skip-changelog

#1205 🔄 synced file(s) with Sanyaku/apps
  examples/conf.d/darwin.yaml
  examples/conf.d/windows.yaml
Labels: skip-changelog, sync

#1203 chore: fix local builds with go.work.sum file defined
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: skip-changelog

#1206 feat: update otelcol core to v0.82.0
  CHANGELOG.md
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation

#1207 feat: add remoteobserverprocessor
  CHANGELOG.md
  README.md
  docs/release.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation
