Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-11, with the labels that each got.

#1317 fix: build release fips binary w/glibc 2.26
  .changelog/1317.fixed.txt
  .github/workflows/release_builds.yml
Labels: github_actions

#1318 chore: prepare release v0.88.0-sumo-1
  .changelog/1306.fixed.txt
  .changelog/1317.fixed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog

#1273 feat(windowsadinvreceiver): Adding the Windows Active Directory inventory receiver to the collector
  .changelog/1273.added.txt
  otelcolbuilder/.otelcol-builder.yaml
  pkg/receiver/activedirectoryinvreceiver/Makefile
  pkg/receiver/activedirectoryinvreceiver/README.md
  pkg/receiver/activedirectoryinvreceiver/adinvreceiver.go
  pkg/receiver/activedirectoryinvreceiver/adinvreceiver_test.go
  pkg/receiver/activedirectoryinvreceiver/adwrappers.go
  pkg/receiver/activedirectoryinvreceiver/config.go
  pkg/receiver/activedirectoryinvreceiver/config_test.go
  pkg/receiver/activedirectoryinvreceiver/factory.go
  pkg/receiver/activedirectoryinvreceiver/factory_test.go
  pkg/receiver/activedirectoryinvreceiver/go.mod
  pkg/receiver/activedirectoryinvreceiver/go.sum
Labels: documentation, go

#1323 Use shorter SHA abbreviation for dev build version tags
  otelcolbuilder/Makefile
Labels: skip-changelog

#1310 Integrate opampprovider into otelcolbuilder
  .changelog/1310.added.txt
  CONTRIBUTING.md
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/01_main.go.patch
  otelcolbuilder/cmd/configprovider.go
  otelcolbuilder/cmd/flags.go
  pkg/configprovider/opampprovider/go.mod
  pkg/configprovider/opampprovider/go.sum
Labels: documentation, go

#1324 Add docs for --remote-config flag
  docs/configuration.md
Labels: documentation, skip-changelog

#1326 🔄 synced file(s) with Sanyaku/apps
  examples/conf.d/darwin.yaml
  examples/conf.d/linux.yaml
  examples/conf.d/windows.yaml
Labels: skip-changelog, sync

#1329 docs(extension/sumologic): fix indentation
  pkg/extension/sumologicextension/README.md
Labels: documentation, skip-changelog

#1332 Increasing the default timeout in the sumologic exporter
  .changelog/1332.changed.txt
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/config.go
  pkg/exporter/sumologicexporter/factory_test.go
Labels: documentation, go

#1331 Updated OpAMP to v0.10.0
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
Labels: skip-changelog

#1330 feat(extension/sumologic)!: change `discover_collector_tags` to be `true` by default
  .changelog/1330.breaking.txt
  pkg/extension/sumologicextension/README.md
  pkg/extension/sumologicextension/factory.go
  pkg/extension/sumologicextension/factory_test.go
Labels: documentation, go

#1328 Add FIPS MSI build & FIPS install.ps1 flag
  .github/workflows/release_builds.yml
  scripts/install.ps1
Labels: github_actions, skip-changelog

#1333 chore: update otel core to `v0.89.0`
  .changelog/1333.changed.1.txt
  .changelog/1333.changed.txt
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/configprovider/opampprovider/go.mod
  pkg/configprovider/opampprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#1334 feat(processor/sumologic): add upstream `sumologic` processor and deprecate `sumologic_schema` processor
  .changelog/1334.added.txt
  .changelog/1334.changed.txt
  README.md
  otelcolbuilder/.otelcol-builder.yaml
  pkg/processor/sumologicschemaprocessor/README.md
  pkg/processor/sumologicschemaprocessor/factory.go
Labels: documentation, go

#1335 docs: remove note on components with `*` asterisk
  README.md
Labels: documentation, skip-changelog

#1336 docs: mark deprecated components
  README.md
Labels: documentation, skip-changelog

#1337 docs: add `active_directory_inv` receiver to component list
  .changelog/1273.added.txt
  README.md
Labels: documentation, skip-changelog

#1338 docs: add release `v0.89.0-sumo-0`
  .changelog/1273.added.txt
  .changelog/1310.added.txt
  .changelog/1330.breaking.txt
  .changelog/1332.changed.txt
  .changelog/1333.changed.1.txt
  .changelog/1333.changed.txt
  .changelog/1334.added.txt
  .changelog/1334.changed.txt
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation, skip-changelog

#1340 chore: update Go to `v1.20.11`
  .changelog/1340.changed.txt
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
  Dockerfile_local
  vagrant/provision.sh
Labels: github_actions

#1344 chore: update Go to 1.21
  .changelog/1340.changed.txt
  .changelog/1344.changed.txt
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
  .github/workflows/workflow-build.yml
  .github/workflows/workflow-test.yml
  Dockerfile_local
  vagrant/provision.sh
Labels: github_actions

#1347 chore: prepare v0.89.0-sumo-2 release
  .changelog/1346.fixed.txt
  CHANGELOG.md
Labels: documentation, skip-changelog

#1341 feat(exporter/syslog)!: replace syslog exporter with syslog exporter from opentelemetry-collector-contrib
  .changelog/1341.breaking.txt
  README.md
  docs/migration.md
  docs/upgrading.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1342 feat(exporter/syslog): deprecate syslog exporter in favor of upstream version of syslog exporter
  .changelog/1342.changed.txt
  pkg/exporter/syslogexporter/README.md
  pkg/exporter/syslogexporter/factory.go
Labels: documentation, go

#1351 chore: upgrade otel core to 0.90.0
  .changelog/1351.changed.txt
  README.md
  docs/configuration.md
  docs/migration.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/flags.go
  pkg/configprovider/globprovider/go.mod
  pkg/configprovider/globprovider/go.sum
  pkg/configprovider/opampprovider/go.mod
  pkg/configprovider/opampprovider/go.sum
  pkg/exporter/sumologicexporter/README.md
  pkg/exporter/sumologicexporter/go.mod
  pkg/exporter/sumologicexporter/go.sum
  pkg/exporter/syslogexporter/go.mod
  pkg/exporter/syslogexporter/go.sum
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/sumologicextension/go.mod
  pkg/extension/sumologicextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: documentation, go

#1352 Create a Jira task, when github issue is created
  .github/workflows/create-jira-task.yml
Labels: github_actions, skip-changelog
