Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2023-05, with the labels that each got.

#1119 ci: deprecation fixes
  .github/workflows/dev_builds.yml
  .github/workflows/pull_requests.yml
  .github/workflows/release_builds.yml
Labels: github_actions, skip-changelog

#1122 feat(k8sprocessor): support otel semantic convention in config
  CHANGELOG.md
  pkg/processor/k8sprocessor/README.md
  pkg/processor/k8sprocessor/config_test.go
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/k8sprocessor/options.go
  pkg/processor/k8sprocessor/options_test.go
  pkg/processor/k8sprocessor/testdata/config.yaml
Labels: documentation, go

#1126 fix(build): use native Go dns resolver for fips binaries
  otelcolbuilder/Makefile
Labels: skip-changelog

#1136 🔄 synced file(s) with Sanyaku/apps
  examples/conf.d/darwin.yaml
  examples/conf.d/linux.yaml
Labels: skip-changelog, sync

#1135 feat(datadogprocessor)!: remove DataDog processor
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1134 feat: retry validation and exit in case of connection issues
  CHANGELOG.md
  pkg/extension/sumologicextension/extension.go
  pkg/extension/sumologicextension/extension_test.go
Labels: documentation, go

#1138 feat!: disable Prometheus metrics name normalization by default
  CHANGELOG.md
  docs/upgrading.md
  otelcolbuilder/cmd/configprovider.go
Labels: documentation, go

#1140 docs: add release v0.77.0-sumo-0
  CHANGELOG.md
  docs/upgrading.md
Labels: documentation

#1141 docs: update OT version to v0.77.0
  docs/configuration.md
  docs/migration.md
  pkg/exporter/sumologicexporter/README.md
Labels: documentation, skip-changelog

#1143 docs: add Code of Conduct
  CODE_OF_CONDUCT.md
Labels: documentation, skip-changelog

#1144 feat(receiver/sqlquery): add experimental logs support
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1145 fix: do not send html special characters as unicode
  CHANGELOG.md
  pkg/exporter/sumologicexporter/sender.go
  pkg/exporter/sumologicexporter/sender_test.go
Labels: documentation, go

#1146 feat(receiver/filestats): add File Stats receiver
  CHANGELOG.md
  README.md
  otelcolbuilder/.otelcol-builder.yaml
Labels: documentation

#1148 docs: add release v0.78.0-sumo-0
  CHANGELOG.md
Labels: documentation
