Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2025-09, with the labels that each got.

#1825 chore: consolidate code signing, fix retry logic
  .github/workflows/workflow-build-otelcol-config-platform.yml
  .github/workflows/workflow-build-otelcol-platform.yml
  common.mk
  otelcolbuilder/Makefile
  pkg/tools/otelcol-config/Makefile
Labels: skip-changelog

#1830 Astitva reno fix
  .github/workflows/renovate-scheduler.yml
  renovate.json5
Labels: skip-changelog, osc

#1834 Upgrade otel collector to v0.133.0
  .changelog/1834.added.txt
  .changelog/1834.changed.txt
  README.md
  docs/configuration.md
  docs/migration.md
  docs/performance.md
  otelcolbuilder/.otelcol-builder.yaml
  otelcolbuilder/Makefile
  otelcolbuilder/cmd/collector_config_test.go
  otelcolbuilder/cmd/testdata/routing_connector.yaml
  otelcolbuilder/cmd/testdata/routing_processor.yaml
  otelcolbuilder/cmd/testdata/telegrafreceiver_routingconnector.yaml
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/processor/cascadingfilterprocessor/go.mod
  pkg/processor/cascadingfilterprocessor/go.sum
  pkg/processor/k8sprocessor/go.mod
  pkg/processor/k8sprocessor/go.sum
  pkg/processor/metricfrequencyprocessor/go.mod
  pkg/processor/metricfrequencyprocessor/go.sum
  pkg/processor/sourceprocessor/go.mod
  pkg/processor/sourceprocessor/go.sum
  pkg/processor/sumologicschemaprocessor/go.mod
  pkg/processor/sumologicschemaprocessor/go.sum
  pkg/processor/sumologicsyslogprocessor/go.mod
  pkg/processor/sumologicsyslogprocessor/go.sum
  pkg/receiver/activedirectoryinvreceiver/go.mod
  pkg/receiver/activedirectoryinvreceiver/go.sum
  pkg/receiver/jobreceiver/go.mod
  pkg/receiver/jobreceiver/go.sum
  pkg/receiver/rawk8seventsreceiver/go.mod
  pkg/receiver/rawk8seventsreceiver/go.sum
  pkg/receiver/telegrafreceiver/README.md
  pkg/receiver/telegrafreceiver/go.mod
  pkg/receiver/telegrafreceiver/go.sum
Labels: osc

#1841 chore:0.133.0 change logs
  .changelog/1803.added.txt
  .changelog/1804.added.txt
  .changelog/1806.added.txt
  .changelog/1807.added.txt
  .changelog/1808.changed.txt
  .changelog/1812.added.txt
  .changelog/1813.added.txt
  .changelog/1816.changed.txt
  .changelog/1818.changed.txt
  .changelog/1822.changed.txt
  .changelog/1833.changed.txt
  .changelog/1834.added.txt
  .changelog/1834.changed.txt
  .changelog/1840.changed.txt
  CHANGELOG.md
Labels: skip-changelog, osc

#1839 chore: adding 10 more components to opampextension
  .changelog/1839.changed.txt
  pkg/extension/opampextension/README.md
  pkg/extension/opampextension/components.go
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
  pkg/extension/opampextension/opamp_agent_test.go
  pkg/extension/opampextension/testdata/opamp.d/opamp-cloudfoundry-receiver-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-geoip-processor-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-httpcheck-receiver-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-iis-receiver-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-redaction-processor-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-remotetap-processor-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-routing-processor-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-schema-processor-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-span-processor-config.yaml
  pkg/extension/opampextension/testdata/opamp.d/opamp-tailsampling-processor-config.yaml
Labels: osc

#1858 consolidated change lang for release 136
  .changelog/1839.changed.txt
  .changelog/1846.changed.txt
  .changelog/1847.changed.txt
  .changelog/1852.changed.txt
  .changelog/1856.changed.txt
  CHANGELOG.md
Labels: skip-changelog, osc

#1861 deps: downgrading gosnowflake to 1.15.0
  .changelog/1861.fixed.txt
  pkg/extension/opampextension/go.mod
  pkg/extension/opampextension/go.sum
Labels: osc
