Repository SumoLogic/sumologic-otel-collector, pull requests merged in 2025-10, with the labels that each got.

#1842 chore(ci): add actionlint job
  .github/workflows/lint.yml
  .github/workflows/post-renovate.yaml
  .github/workflows/workflow-test.yml
Labels: skip-changelog

#1849 chore:skip signgin mac/windows binaries for dependabot
  .github/workflows/workflow-build-otelcol-platform.yml
Labels: skip-changelog, osc

#1848 Puppet remote support for windows
  .changelog/1848.changed.txt
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: osc

#1845 puppet support for windows
  .changelog/1845.changed.txt
  examples/puppet/README.md
  examples/puppet/modules/install_otel_collector/manifests/init.pp
Labels: osc
